$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.nf_page {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: rem(40);
  display: flex;
  align-items: center;
}

.nf_page--wrap {
  width: 100%;
  max-width: rem(1520);
  padding: 0 rem(10);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nf_img {
  position: relative;
  width: 100%;
  max-width: rem(741);
  margin-right: rem(100);

  svg {
    position: relative;
    width: 100%;
    height: auto;

    #Layer_591_copy_2 {
      position: relative;
      z-index: 3;
      animation: NfSvgAnimSecond 10s ease-in-out infinite;
    }
    #Vector_Smart_Object-2 {
      position: relative;
      z-index: 2;
    }
    #Vector_Smart_Object-3 {
      animation: NfSvgAnimFirst 5s ease-in-out infinite;
    }
  }
}

.nf_info {
  width: 100%;
  max-width: rem(500);
  display: flex;
  flex-direction: column;

  .nf_text--title {
    color: #1e1f29;
    font-size: rem(64);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: rem(48);
  }

  .nf_text--description {
    color: #4c4f70;
    font-size: rem(27);
    font-weight: 300;
    line-height: rem(42);
    margin-bottom: rem(60);
  }
}


.nf_btn {
  width: 100%;
  max-width: rem(212);
  height: rem(81);
  background-color: #2c37e3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 rem(20) rem(60) rgba(#2c37e3, .0);
  transition: box-shadow .4s ease-in-out;

  &:hover {
    box-shadow: 0 rem(20) rem(60) rgba(#2c37e3, .3);

    span {
      color: #2c37e3;
    }

    &:before {
      height: 100%;
    }
  }

  span {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    font-size: rem(20);
    font-weight: 500;
    transition: color .4s ease-in-out;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: '';
    background: #fff;
    transition: height .4s ease-in-out;
  }
}

@keyframes NfSvgAnimFirst {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0, -0.5%) scale(1.02);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes NfSvgAnimSecond {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0, -0.1%) scale(.95);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}