$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.base_page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: rem(107);
  padding-bottom: rem(80);

  .base_page--line {
    position: absolute;
    bottom: 36%;
    right: 27%;
    width: rem(84);
  }

  .base_page--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 1;
  }
}

.base_top, .base_main {
  position: relative;
  z-index: 2;
}

.base_top {
  padding-top: rem(95);
  position: relative;
  margin-bottom: rem(135);
}

.base_top--wrap {
  width: 100%;
  max-width: rem(1800);
  padding: 0 rem(10);
  margin: 0 auto;
  position: relative;

  .b_t--w--line {
    position: absolute;
    top: rem(-80);
    left: rem(850);
    width: rem(54);
  }

  .base_top--icon {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(340);
    height: auto;
    transform: translate(-50%, -20%);
  }
}

.base_top--title {
  width: fit-content;
  color: #1e1f29;
  font-size: rem(80);
  font-weight: 800;
  text-transform: uppercase;
  position: relative;

  .square_icon {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(97);
    transform: translate(40%, -40%);
  }
}

@keyframes BaseSquareAnimationFirst {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(-5%, 5%) rotate(120deg) scale(.96);
  }
  70% {
    transform: translate(-5%, 5%) rotate(240deg) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

.base_main--wrap {
  width: 100%;
  max-width: rem(1460);
  padding: 0 rem(10);
  margin: 0 auto;
}

.base_main--block {
  margin-bottom: rem(100);

  &:last-child {
    margin-bottom: 0;
  }
}

.b_m--b--title {
  color: #2c37e3;
  font-size: rem(37);
  font-weight: 500;
  margin-bottom: rem(48);
  text-transform: uppercase;
}

.b_m--b--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  a {
    width: 100%;
    max-width: rem(170);
    color: #1e1f29;
    font-size: rem(18);
    font-weight: 600;
    margin: 0 rem(140) rem(48) 0;
    position: relative;
    transition: color .4s ease-in-out;

    &:hover {
      &:before {
        width: rem(80);
      }
    }

    &:before {
      position: absolute;
      bottom: rem(-4);
      left: 0;
      width: 0;
      height: rem(2);
      background: #2c37e3;
      content: '';
      z-index: -1;
      transition: width .4s ease-in-out;
    }
  }
}


.base_inner--page {
  position: relative;
  padding-top: rem(236);

  .base_inner--page--bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 76.5%;
    object-fit: cover;
    z-index: 1;
  }
}

.base_inner--wrap {
  width: 100%;
  max-width: rem(1170);
  padding: 0 rem(10);
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.base_inner--top {
  position: relative;
}

.base_inner--info {
  margin-bottom: rem(110);
}

.base_inner--category {
  position: relative;

  .b_i--c--prev {
    position: absolute;
    top: 50%;
    left: rem(-90);
    transform: translateY(-50%);
    color: #2c37e3;
  }

  .base_inner--name {
    color: #2c37e3;
    font-size: rem(30);
    font-weight: 500;
    text-transform: uppercase;
  }
}

.base_inner--title {
  color: #1e1f29;
  font-size: rem(80);
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: rem(70);
}

.b_i--img {
  width: 100%;
  max-width: rem(1150);
  position: relative;
  height: rem(367);
  overflow: hidden;
  margin-bottom: rem(130);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.b_i--text {
  width: 100%;
  max-width: rem(940);
  margin: 0 auto;

  h2 {
    color: #1e1f29;
    font-size: rem(38);
    font-weight: 700;
    line-height: rem(44);
    margin-bottom: rem(40);
  }

  p {
    color: #4c4f70;
    font-size: rem(21);
    font-weight: 400;
    line-height: rem(36);
    margin-bottom: rem(40);
  }

  ul {
    margin-bottom: rem(50);
    margin-top: rem(10);
    padding-left: rem(69);

    li {
      color: #4c4f70;
      font-size: rem(21);
      font-weight: 400;
      position: relative;
      margin-bottom: rem(25);

      &:before {
        position: absolute;
        top: rem(13);
        left: rem(-25);
        width: rem(7);
        height: rem(7);
        background-color: #2c37e3;
        content: '';
      }
    }
  }


}

.b_i--description {
  color: #66698f;
  font-size: rem(29);
  font-weight: 300;
  line-height: rem(45);
  margin: 0 auto rem(80);
  max-width: rem(940);
}

.base_inner--buttons {
  width: 100%;
  max-width: rem(940);
  display: flex;
  margin: 0 auto;
}

.b_i--btn--prev {
  width: 50%;
  height: rem(220);
  position: relative;
  background-color: #f8f9fd;
  display: flex;
  flex-direction: column;
  padding: rem(65) rem(73);
  justify-content: space-between;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    transition: width .4s ease-in-out;
    content: '';
    background: #2c37e3;
  }

  &:hover {
    &:after {
      width: 100%;
    }

    i {
      color: #fff;
    }

    span {
      margin-left: rem(30);
      color: #fff;
    }
  }

  i {
    color: #163eff;
    z-index: 2;
    transition: color .4s ease-in-out;
  }

  span {
    color: #797a91;
    font-size: rem(23);
    font-weight: 500;
    line-height: rem(36);
    margin-left: 0;
    transition: margin-left .4s ease-in-out, color .4s ease-in-out;
    z-index: 2;
  }
}

.b_i--btn--next {
  width: 50%;
  height: rem(220);
  position: relative;
  background-color: #f8f9fd;
  display: flex;
  flex-direction: column;
  padding: rem(65) rem(73);
  justify-content: space-between;
  text-align: right;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    content: '';
    z-index: 1;
    transition: width .4s ease-in-out;
    background: #2c37e3;
  }

  &:hover {
    &:after {
      width: 100%;
    }

    i {
      color: #fff;
    }

    span {
      margin-right: rem(30);
      color: #fff;
    }
  }

  i {
    color: #163eff;
    z-index: 2;
    transition: color .4s ease-in-out;
    transform: rotate(180deg);
    transform-origin: right center 0;
    margin-right: rem(20);
  }

  span {
    color: #797a91;
    font-size: rem(23);
    font-weight: 500;
    line-height: rem(36);
    margin-left: 0;
    transition: margin-right .4s ease-in-out, color .4s ease-in-out;
    z-index: 2;
  }
}