$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.websites_main {
  &.branding_main {
    .p_i--wrap--icon {

      svg {
        width: rem(388);

        #Shape_594_copy_2 {
          position: absolute;
          transform-origin: center center 0;
        }

        use {
          animation: brandingAnimateImageFirst 10s ease-in-out infinite;
          transform-origin: center center 0;
        }

        image {
          animation: brandingAnimateImageSecond 15s ease-in-out infinite;
          transform-origin: center center 0;
        }
      }
    }

    .p_i--wrap--text {
      .p_i--wrap--description {
        max-width: rem(720);
      }
    }
  }
}

@keyframes brandingAnimateSquare {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(2%, 1%) rotate(5deg) scale(.95);
  }
  70% {
    transform: translate(2%, 2%) rotate(0) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

@keyframes brandingAnimateImageFirst {
  0% {
    transform: translate(0, 0) rotate(0) scale(.95);
  }
  50% {
    transform: translate(0, 0) rotate(20deg) scale(.90);
  }
  70% {
    transform: translate(0, 0) rotate(0) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(.95);
  }
}

@keyframes brandingAnimateImageSecond {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(1%, 2%) rotate(0deg) scale(.95);
  }
  70% {
    transform: translate(3%, 5%) rotate(0) scale(.95);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

.branding_calc {
  width: 100%;
  position: relative;
  padding: rem(182) 0 rem(170);
  background: #f7f8fd;
}

.b_c--wrap {
  width: 100%;
  max-width: rem(1460);
  padding: 0 10px;
  margin: 0 auto;
}

.b_c--title {
  color: #1e1f29;
  font-size: rem(49);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem(140);
}

.b_c--calculator {
  display: flex;
  align-items: flex-start;
}

.b_c--left {
  width: 50%;
  display: flex;
}

.b_c--brand {
  width: 100%;
  max-width: rem(320);
  margin-right: rem(86);
}

.b_c--b--title {
  display: flex;

  span {
    color: #1e1f29;
    font-size: rem(20);
    font-weight: 500;
    margin-bottom: rem(60);
  }

  .b_c--b__info {
    margin-left: rem(11);
    position: relative;

    i {
      width: rem(17);
      height: rem(17);
      cursor: pointer;
      color: #a9adda;
      font-size: rem(20);

      &:hover {
        ~ span {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-140%);
      background: #fff;
      color: #1e1f29;
      font-size: rem(14);
      text-align: center;
      border-radius: rem(30);
      width: rem(200);
      display: block;
      padding: rem(10) rem(10);
      opacity: 0;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
      visibility: hidden;
    }
  }
}

.b_c--b--buttons {
  display: flex;

  .b_c--b--btn {
    width: 100%;
    max-width: rem(194);
    height: rem(80);
    border: rem(2) solid #e6e7f4;
    background-color: #f6f8fd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border .4s ease-in-out, background-color .4s ease-in-out, color .4s ease-in-out;
    text-align: center;
    color: #aeb0d1;
    font-size: rem(20);
    font-weight: 400;

    &:nth-child(1) {
      max-width: rem(148);
    }

    &.active, &:hover {
      border: rem(2) solid #2c37e3;
      background-color: #2c37e3;
      color: #ffffff;
    }

  }
}

.b_c--quantity {
  .b_c--q--title {
    display: flex;

    span {
      color: #1e1f29;
      font-size: rem(20);
      font-weight: 500;
      margin-bottom: rem(60);
    }

    .b_c--b__info {
      margin-left: rem(11);
      position: relative;

      i {
        width: rem(17);
        height: rem(17);
        cursor: pointer;
        color: #a9adda;
        font-size: rem(20);

        &:hover {
          ~ span {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-140%);
        background: #fff;
        color: #1e1f29;
        font-size: rem(14);
        text-align: center;
        border-radius: rem(30);
        width: rem(200);
        display: block;
        padding: rem(10) rem(10);
        opacity: 0;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        visibility: hidden;
      }
    }
  }

  .b_c--q--buttons {
    display: flex;

    .b_c--q--btn {
      width: rem(80);
      height: rem(80);
      border: rem(2) solid #e6e7f4;
      background-color: #f6f8fd;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: border .4s ease-in-out, background-color .4s ease-in-out, color .4s ease-in-out;
      margin-right: rem(23);
      color: #aeb0d1;
      font-size: rem(25);
      font-weight: 400;

      &:last-child {
        margin-right: 0;
      }

      &.active, &:hover {
        border: rem(2) solid #2c37e3;
        background-color: #2c37e3;
        color: #fff;
      }

    }
  }
}

.b_c--right {
  padding-left: rem(120);
  margin-top: rem(-10);

  .b_c--right--title {
    display: flex;
    align-items: center;
    margin-bottom: rem(30);

    span {
      color: #1e1f29;
      font-size: rem(20);
      font-weight: 500;
      margin-right: rem(19);
    }

    .b_c--r--t--info {
      border-radius: rem(23);
      border: rem(1) solid #e6e7f4;
      background-color: #f6f8fd;
      padding: rem(10) rem(20);
      display: flex;
      align-items: center;
      position: relative;

      span {
        color: #8c8ea7;
        font-size: rem(18);
        font-weight: 400;
        margin-right: rem(12);
      }

      .b_c--b__info {
        margin-left: rem(11);
        position: relative;

        i {
          width: rem(17);
          height: rem(17);
          cursor: pointer;
          color: #a9adda;
          font-size: rem(20);

          &:hover {
            ~ span {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-50%) translateY(-140%);
          background: #fff;
          color: #1e1f29;
          font-size: rem(14);
          text-align: center;
          border-radius: rem(30);
          width: rem(200);
          display: block;
          padding: rem(10) rem(10);
          opacity: 0;
          transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
          visibility: hidden;
        }
      }
    }
  }

  .b_c--right--result {
    display: flex;

    .b_c--right--result--sum {
      color: #1e1f29;
      font-size: rem(76);
      font-weight: 800;
      text-transform: uppercase;
      margin-right: rem(30);
    }

    .b_c--right--result--day {
      color: #8c8ea7;
      font-size: rem(64);
      font-weight: 300;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      span {
        margin-right: 10px;
      }
    }
  }
}

.branding_info {
  width: 100%;
  position: relative;
  background: #fff;
  padding: rem(168) 0 rem(40);
  overflow: hidden;

  &.animation {
    .b_i--i--point {
      &:before {
        width: 0;
      }

      i {
        opacity: 0;
      }

      &:after {
        width: 0;
      }
    }


    .branding_info--item {
      &:nth-child(1) {
        .b_i--i--title {
          opacity: 0;
          transition: opacity .6s ease-in-out 2.4s;
        }

        .b_i--i--text {
          opacity: 0;
          transition: opacity .6s ease-in-out 2.8s;
        }

        .b_i--i--icon {
          opacity: 0;
          transition: opacity .6s ease-in-out 2s;
        }
      }

      &:nth-child(2) {
        .b_i--i--point {
          i {
            transition: .4s ease-in-out 3s;
          }

          &:before {
            width: 0;
            transition: .4s ease-in-out 3s;
          }

          &:after {
            width: 0;
          }
        }

        .b_i--i--title {
          opacity: 0;
          transition: opacity .6s ease-in-out 4s;
        }

        .b_i--i--text {
          opacity: 0;
          transition: opacity .6s ease-in-out 4.4s;
        }

        .b_i--i--icon {
          opacity: 0;
          transition: opacity .6s ease-in-out 3.6s;
        }
      }

      &:nth-child(3) {
        .b_i--i--point {
          i {
            transition: .4s ease-in-out 4.4s;
          }

          &:before {
            width: 0;
            transition: .4s ease-in-out 4.4s;
          }

          &:after {
            width: 0;
          }
        }

        .b_i--i--title {
          opacity: 0;
          transition: opacity .6s ease-in-out 5.2s;
        }

        .b_i--i--text {
          opacity: 0;
          transition: opacity .6s ease-in-out 5.6s;
        }

        .b_i--i--icon {
          opacity: 0;
          transition: opacity .6s ease-in-out 4.8s;
        }
      }
    }

    &.active {
      .b_i--i--point {
        &:before {
          width: 100%;
        }

        i {
          opacity: 1;
        }

        &:after {
          width: 100%;
        }
      }


      .branding_info--item {
        &:nth-child(1) {
          .b_i--i--title {
            opacity: 1;
          }

          .b_i--i--text {
            opacity: 1;
          }

          .b_i--i--icon {
            opacity: 1;
          }
        }

        &:nth-child(2) {
          .b_i--i--point {
            &:before {
              width: 140%;
            }

            &:after {
              width: 140%;
            }
          }

          .b_i--i--title {
            opacity: 1;
          }

          .b_i--i--text {
            opacity: 1;
          }

          .b_i--i--icon {
            opacity: 1;
          }
        }

        &:nth-child(3) {
          .b_i--i--point {
            &:before {
              width: 140%;
            }

            &:after {
              width: 200%;
              transition: .4s ease-in-out 5.8s;
            }
          }

          .b_i--i--title {
            opacity: 1;
          }

          .b_i--i--text {
            opacity: 1;
          }

          .b_i--i--icon {
            opacity: 1;
          }
        }
      }
    }
  }


  .branding_info--wrap {
    width: 100%;
    max-width: rem(1460);
    padding: 0 rem(10);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .branding_info--item {
    flex: 1 1 30%;
    max-width: rem(380);

    &:nth-child(1) {
      .b_i--i--title {
        transition: opacity .6s ease-in-out 2s;
      }
    }

    &:nth-child(2) {
      .b_i--i--icon {
        width: rem(61);
      }

      .b_i--i--point {
        &:before {
          position: absolute;
          top: 50%;
          left: -140%;
          width: 140%;
          height: rem(3);
          background-color: #eeeff9;
          content: '';
          transform: translateY(-50%);
          z-index: 1;
          transition: 1s ease-in-out 2.8s;
        }
      }
    }

    &:nth-child(3) {
      .b_i--i--icon {
        width: rem(69);
      }

      .b_i--i--point {
        &:before {
          position: absolute;
          top: 50%;
          left: -140%;
          width: 140%;
          height: rem(3);
          background-color: #eeeff9;
          content: '';
          transform: translateY(-50%);
          z-index: 1;
          transition: .4s ease-in-out 1.2s;
        }

        &:after {
          position: absolute;
          top: 50%;
          left: 0;
          width: 200%;
          height: rem(3);
          background-color: #eeeff9;
          content: '';
          transform: translateY(-50%) translateX(0);
          z-index: 1;
          transition: .4s ease-in-out 1.6s;
        }
      }
    }
  }

  .b_i--i--icon {
    margin-bottom: rem(91);
    position: relative;
    width: rem(78);

    img {
      position: relative;
      width: 100%;
    }

  }

  .b_i--i--point {
    position: relative;
    margin-bottom: rem(82);

    i {
      position: relative;
      width: rem(17);
      height: rem(17);
      background-color: #2c37e3;
      display: block;
      border-radius: 50%;
      z-index: 2;
      transition: opacity 1s ease-in-out 1.8s;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: -100%;
      width: 100%;
      height: rem(3);
      background-color: #eeeff9;
      content: '';
      transform: translateY(-50%);
      z-index: 1;
      transition: width 1s ease-in-out 1s;
    }
  }

  .b_i--i--title {
    color: #1e1f29;
    font-size: rem(30);
    font-weight: 500;
    line-height: rem(42);
    margin-bottom: rem(40);
  }

  .b_i--i--text {
    p {
      color: #4c4f70;
      font-size: rem(22);
      font-weight: 300;
      line-height: rem(33);
    }
  }


}