$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

body {
  font: 400 18px/1.45 'Din';
  color: #1e1f29;
}


html {
  font-size: .7810vw;
}

canvas {
  z-index: 39;
}

iframe {
  border: none;
  overflow: hidden;
  width: 0;
  height: 0;
  z-index: 6;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.container {
  width: 100%;
  max-width: rem(1370);
  margin: 0 auto;
  padding: 0 rem(15);
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
  transform: translateX(0);
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

.toCalc {
  cursor: pointer;
}

.preloader {
  position: fixed;
  top: rem(-3000);
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: top .5s .5s, opacity .4s ease-in-out, visibility .4s ease-in-out;

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f7f8fd;
    transition: width .8s ease-in-out, opacity .4s ease-in-out;
    z-index: 1;

    &:nth-child(2) {
      right: 0;
      left: initial;
    }
  }

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: rem(2);
    background: #2c37e3;
    content: '';
    transition: .6s ease-in-out;
    z-index: 2;
    transform: translateY(-50%);
  }

  &:after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0;
    height: rem(2);
    background: #2c37e3;
    content: '';
    transition: .6s ease-in-out;
    z-index: 2;
    transform: translateY(-50%);
  }

  .logo {
    position: relative;
    transform: scale(3);
    transition: transform .6s ease-out;
    z-index: 3;
    opacity: 0;

    svg {
      width: 100%;
      max-width: rem(100) !important;

      g {
        g {
          path {
            fill: transparent;
            transition: .6s ease-out;
          }
        }
      }
    }
  }

  &.active {
    transition: 0s;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;

    .logo {
      transform: scale(2.1);
    }
  }

  &.load {
    span {
      width: 10%;
    }

    &:before {
      width: calc(50% - 7.5rem);
    }

    &:after {
      width: calc(50% - 7.5rem);
    }

    .logo {
      opacity: 1;

      svg {
        g {
          g {
            path {
              fill: #2c37e3;
            }
          }
        }
      }
    }
  }
}


#three-container {
  width: 11.25rem;
  margin: -16rem 25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  max-width: 100%;
  -webkit-transform: scale(.6);
  transform: scale(.6);
}


#three-container canvas {
  z-index: 10;
  pointer-events: none;
}
