$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.contacts_page {
  width: 100%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-top: rem(240);

  &:before {
    width: 18.2%;
    height: 100%;
    background-color: #121218;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:after {
    width: 81.8%;
    height: 100%;
    background-color: #202ce5;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .contacts_wrap {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    max-width: rem(1520);
    padding: 0 rem(10);
    margin: 0 auto;
    height: calc(100% - 15rem);
    left: 50%;
    transform: translateX(-50%);
  }

  .main_screen--menu {
    position: absolute;

    .m_s--points {
      display: none;
    }
  }
}

.contacts_top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.hidden {
    .contacts_top--wrap--left {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.contacts_top--wrap--left {
  width: 100%;
  max-width: rem(820);
  margin-right: rem(20);
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  visibility: visible;
}

.c_t--w--l--tel {
  display: flex;
  margin-bottom: rem(90);
  align-items: center;

  a {
    color: #ffffff;
    font-size: rem(82);
    font-weight: 500;
    text-transform: uppercase;
    position: relative;

    &:hover {
      &:before {
        width: 100%;
      }
    }

    &:before {
      position: absolute;
      bottom: rem(4);
      left: 0;
      width: 0;
      height: rem(2);
      background: #fff;
      content: '';
      transition: width .4s ease-in-out;
    }
  }
}

.c_t--w--l--tel--icon {
  width: rem(98);
  height: rem(98);
  background-color: #1e1f29;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: rem(45);

  i {
    color: #fff;
    font-size: rem(44);
  }
}

.c_t--w--l--telegram {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      .c_t--w--l--telegram--arrow {
        background-color: #fff;
        color: #0c10ff;
        margin-left: 4%;
      }

      &:before {
        width: calc(100% - 7.5rem);
      }
    }

    &:before {
      position: absolute;
      bottom: rem(4);
      left: 0;
      width: 0;
      height: rem(2);
      background: #fff;
      content: '';
      transition: width .4s ease-in-out;
    }

    span {
      color: #ffffff;
      font-size: rem(82);
      font-weight: 500;
      margin-right: rem(41);
    }

    .c_t--w--l--telegram--arrow {
      margin-top: rem(18);
      color: #ffffff;
      font-size: rem(16);
      width: rem(81);
      height: rem(50);
      border-radius: rem(25);
      border: rem(1) solid rgba(#b9bdff, .32);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: margin-left .4s ease-in-out, color .4s ease-in-out, background-color .4s ease-in-out;
      margin-left: 0;
    }
  }

}

.c_t--w--l--telegram--icon {
  width: rem(98);
  height: rem(98);
  background-color: #1e1f29;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: rem(45);

  i {
    color: #fff;
    font-size: rem(32);
  }
}

.contacts_top--wrap--right {
  width: 100%;
  max-width: rem(491);
  position: relative;
  margin-top: rem(50);

  .c_t--w--r--icon {
    animation: animateContactIcon 8s ease-in-out infinite both;

    svg {
      -webkit-filter: drop-shadow(3.8125rem 11.6875rem 5.1875rem rgba(6, 13, 115, 0.27));
      filter: drop-shadow(3.8125rem 11.6875rem 5.1875rem rgba(6, 13, 115, 0.27));
    }
  }
}

@keyframes animateContactIcon {
  0% {
    transform: translateY(0) scale(1);
  }
  40% {
    transform: translateY(-8%) scale(.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.contacts_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &.hidden {
    .contacts_btn {
      opacity: 0;
      visibility: hidden;
    }
  }

  .contacts_btn {
    width: 100%;
    max-width: rem(690);
    height: rem(180);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(98) 0 rem(79);
    position: relative;
    box-shadow: rem(-20) rem(-20) rem(60) rgba(#fff, 0);
    transition: opacity .4s ease-in-out, box-shadow .4s ease-in-out, visibility .4s ease-in-out;
    opacity: 1;
    visibility: visible;
    cursor: pointer;

    &:hover {
      box-shadow: rem(-20) rem(-20) rem(60) rgba(#fff, .2);

      &:before {
        width: 70%;
      }

      span {
        color: #fff;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      content: '';
      background: #0c10ff;
      transition: width .4s ease-in-out;
      z-index: 2;
    }

    span {
      color: #1e1f29;
      font-size: rem(32);
      font-weight: 400;
      transition: color .4s ease-in-out;
      position: relative;
      z-index: 3;
    }

    i {
      color: #1e1f29;
      font-size: rem(14);
      margin-right: rem(20);
    }
  }

  .contacts_bottom--social {
    width: 100%;
    max-width: rem(405);
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #8792ff;
      font-size: rem(24);
      font-weight: 300;
      text-transform: uppercase;
    }

    .contacts_bottom--social--icons {
      display: flex;
      align-items: center;

      .c_b--s--i--items {
        width: rem(58);
        height: rem(58);
        border: rem(1) solid rgba(#b9bdff, 0.32);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: rem(20);
        position: relative;
        transition: border .4s ease-in-out;

        .inst {
          fill: #fff;
          width: rem(20);
          height: rem(20);
        }

        &:nth-child(2) {
          i {
            font-size: rem(14);
            left: rem(-5);
          }
        }

        &:nth-child(3) {
          i {
            font-size: rem(16);
          }
        }

        &:hover {
          border: rem(1) solid rgba(#b9bdff, 1);

          &:before {
            opacity: 1;
          }

        }

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          border: rem(1) solid rgba(#b9bdff, 1);
          z-index: 2;
          width: 100%;
          height: 100%;
          transition: opacity .4s ease-in-out;
          border-radius: 50%;
          opacity: 0;
          filter: blur(3px);
        }

        &:last-child {
          margin-right: 0;
        }

        i {
          color: #fff;
          position: relative;
          z-index: 4;
          transition: color .4s ease-in-out;
        }
      }
    }
  }
}

.contacts_popup {
  position: fixed;
  top: -200vh;
  left: rem(240);
  width: 100%;
  max-width: rem(721);
  z-index: 10;
  transform: translateY(-40%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

  &.active {
    top: 50%;
    opacity: 1;
    visibility: visible;
  }

  &.success {
    .contacts_popup--wrap {
      .c_p--success {
        opacity: 1;
        visibility: visible;
        position: relative;
      }

      .c_p--info {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .contacts_popup--wrap {
    width: 100%;
    background-color: #fff;
    padding: rem(140) rem(79) rem(88);
    position: relative;

    .c_p--success {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

      .c_p--success--icon {
        position: relative;
        width: rem(117);
        margin-bottom: rem(80);

        svg {
          position: relative;
          z-index: 3;
        }

        .circle {
          position: absolute;
          top: -15%;
          left: -10%;
          width: rem(150);
          height: rem(150);
          border-radius: 50%;
          z-index: 2;


          &:before, &:after {
            position: absolute;
            top: -10%;
            left: -10%;
            width: 120%;
            height: 120%;
            border-radius: 50%;
            border: rem(2) solid #2c37e3;
            content: '';
            animation: animate 1.5s ease-in-out infinite;
            opacity: 0;
          }

          &:after {
            animation-delay: .5s;
          }

          @keyframes animate {
            0% {
              transform: scale(.8);
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              transform: scale(1.2);
              opacity: 0;
            }
          }
        }
      }

      .c_p--success--title {
        color: #1e1f29;
        font-size: rem(48);
        font-weight: 500;
      }

      .c_p--success--description {
        color: #1e1f29;
        font-size: rem(38);
        font-weight: 300;
      }
    }

    .contacts_popup--title {
      color: #121218;
      font-size: rem(120);
      font-weight: 800;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateY(-100%) translateX(-50%);
      line-height: rem(101);
    }

    .contacts_popup--cls {
      position: absolute;
      top: 0;
      right: 0;
      width: rem(114);
      height: rem(114);
      background-color: #f3f4fe;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        &:before {
          width: 100%;
        }

        i {
          &:before {
            background: #fff;
          }

          &:after {
            background: #fff;
          }
        }
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        content: '';
        background: #2c37e3;
        transition: width .4s ease-in-out;
        z-index: 1;
      }

      i {
        width: rem(24);
        position: relative;
        z-index: 3;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: rem(24);
          height: rem(1);
          background: #696c81;
          transform: rotate(45deg);
          transition: background .4s ease-in-out;
        }

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: rem(24);
          height: rem(1);
          background: #696c81;
          transform: rotate(-45deg);
          transition: background .4s ease-in-out;
        }
      }
    }

    .contacts_popup--form {
      width: 100%;
    }

    button {
      width: 100%;
      max-width: rem(285);
      display: flex;
      align-items: center;
      background: none;
      border: none;
      font-family: 'Din';
      cursor: pointer;
      height: rem(60);

      span {
        color: #1e1f29;
        font-size: rem(30);
        font-weight: 700;
        text-transform: uppercase;
        margin-right: rem(38);
      }

      i {
        color: #1e1f29;
      }
    }

    .contacts_popup--input {
      position: relative;
      width: 100%;
      height: rem(60);
      margin-bottom: rem(60);

      .input_info {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        color: #ff4251;
        font-size: rem(16);
        opacity: 0;
        transition: opacity .4s ease-in-out;
      }

      &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 0;
        height: rem(1);
        background: #2c37e3;
        transition: width .4s ease-in-out;
        z-index: 3;
      }


      &.active {
        &:before {
          width: 100%;
        }

        span {
          top: rem(-10);
          font-size: rem(15);
        }
      }

      &.click {
        &:before {
          width: 100%;
        }

        span {
          top: rem(-10);
          font-size: rem(15);
        }
      }

      &:nth-child(2) {
        margin-bottom: rem(100);
      }

      span {
        position: absolute;
        top: rem(10);
        left: 0;
        color: #5a5c6c;
        font-size: rem(25);
        font-weight: 300;
        transition: top .4s ease-in-out, font-size .4s ease-in-out;
        z-index: 1;
      }

      input {
        width: 100%;
        border: none;
        background: transparent;
        border-bottom: rem(1) solid #e0e0e6;
        height: rem(60);
        position: relative;
        left: 0;
        color: #2c37e3;
        font-size: rem(25);
        font-weight: 800;
        z-index: 2;

        &:invalid {
          ~.input_info {
            opacity: 1;
          }
        }

        &:valid {
          ~.input_info {
            opacity: 0;
          }
        }


        &:focus {
          ~ span {
            top: rem(-10);
            font-size: rem(15);
          }
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #2c37e3;
  -webkit-box-shadow: 0 0 0 rem(1000) transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}