$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.corporate_page {
  background-image: none;
  background-color: #fff;
  overflow: hidden;

  .shop_page--bg {
    max-height: rem(1800);
  }

}

.corporate_page--goals {
  width: 100%;
  padding-bottom: rem(156);

  .c_p--g--wrap {
    width: 100%;
    max-width: rem(1460);
    padding: 0 rem(10);
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 2;
    counter-reset: items;
    overflow: hidden;
  }

  .c_p--g--item {
    width: 100%;
    max-width: rem(209);
    background-color: #f1f2fb;
    margin-right: rem(20);
    padding: rem(95) rem(112) rem(106) rem(77);
    transition: max-width .4s ease-in-out, background-color .4s ease-in-out;
    position: relative;
    min-height: rem(579);
    cursor: pointer;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      right: rem(45);
      width: rem(2);
      height: rem(77);
      background-color: #b0b3dc;
      opacity: 0.5;
      content: '';
      transition: background-color .4s ease-in-out, right .4s ease-in-out;
    }

    &:after {
      position: absolute;
      top: rem(86);
      right: rem(33);
      counter-increment: items;
      content: '0' counter(items);
      color: #b0b3dc;
      font-size: rem(25);
      font-weight: 300;
      transition: color .4s ease-in-out, right .4s ease-in-out;
    }

    .c_p--g--title {
      position: absolute;
      bottom: rem(40);
      right: rem(10);
      transform: rotate(-90deg) translateX(50%);
      text-align: left;
      opacity: 1;
      visibility: visible;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

      span {
        color: #686a8e;
        font-size: rem(24);
        font-weight: 300;
      }
    }

    .c_p--g--info {
      top: -200vh;
      left: 0;
      opacity: 0;
      position: absolute;
      visibility: hidden;
      max-height: 0;
      transition: position .0s ease-in-out, opacity .0s ease-in-out, visibility .0s ease-in-out, max-height .0s ease-in-out;

      .c_p--g--info--icon {
        width: rem(67);
        position: relative;
        margin-bottom: rem(41);

        svg {
          position: relative;
          color: #fff;
        }
      }

      .c_p--g--info--title {
        margin-bottom: rem(40);

        span {
          color: #ffffff;
          font-size: rem(38);
          font-weight: 500;
          line-height: rem(44);
        }
      }

      .c_p--g--info--text {
        p {
          color: #ffffff;
          font-size: rem(20);
          font-weight: 300;
          line-height: rem(34);
        }
      }
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    &.active {
      max-width: rem(900);
      background-color: #2c37e3;

      &:before {
        right: rem(88);
        background-color: #4953ef;
      }

      &:after {
        right: rem(75);
        color: #626bfa;
      }

      .c_p--g--title {
        opacity: 0;
        visibility: hidden;
      }

      .c_p--g--info {
        top: 0;
        opacity: 1;
        max-height: 100%;
        position: relative;
        visibility: visible;
        transition: position .4s ease-in-out .4s, opacity .4s ease-in-out .4s, visibility .4s ease-in-out .4s, max-height .4s ease-in-out .4s;
      }
    }
  }
}

.corporate_quote {
  width: 100%;
  max-width: rem(1460);
  padding: 0 rem(10);
  margin: 0 auto;
  position: relative;
  padding-bottom: rem(186);

  .c_q--icon {
    position: absolute;
    top: 0;
    left: rem(160);
    width: rem(111);
    z-index: 1;
    &:nth-child(2) {
      left: initial;
      top: 45%;
      right: rem(160);
      transform: rotate(180deg);
    }
  }

  .c_q--item {
    width: 100%;
    padding: 0 rem(68);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

    .c_q--item--img {
      width: rem(64);
      height: rem(64);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin-bottom: rem(45);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .c_q--item--text {
      margin-bottom: rem(31);

      p {
        color: #33343d;
        text-align: center;
        font-size: rem(43);
        font-weight: 300;
        line-height: rem(51.9);
      }
    }

    .c_q--item--name {
      span {
        color: #2c37e3;
        font-size: rem(26);
        font-weight: 300;
      }
    }
  }
}

.corporate_how {
  position: relative;
  padding-top: rem(130);
  padding-bottom: rem(98);
  background-color: #f7f8fd;
}

.corporate_how--wrap {
  width: 100%;
  max-width: rem(1300);
  padding: 0 rem(10);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.c_h--w--left {
  width: 100%;
  max-width: rem(400);
  margin-right: rem(10);
}

.c_h--w--left--icon {
  width: rem(203);
  height: rem(203);
  background-color: #1d1f2c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  margin-bottom: rem(82);

  .c_h_square_top {
    width: rem(85);
    position: absolute;
    left: initial;
    top: rem(-26);
    right: rem(-21);
    z-index: 2;
  }

  .c_h_line_top {
    position: absolute;
    top: rem(-35);
    left: rem(-56);
    width: rem(48);
    z-index: 1;
  }
  .c_h_line_bottom {
    position: absolute;
    top: initial;
    left: initial;
    right: rem(-50);
    bottom: rem(-40);
    width: rem(48);
    z-index: 3;
    path {
      stroke: black;
    }
  }

  img {
    top: rem(20);
    left: rem(2);
    position: relative;
    width: rem(165);
    z-index: 5;
  }
}

@keyframes CSquareAnimationFirst {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(-5%, 5%) rotate(120deg) scale(.96);
  }
  70% {
    transform: translate(-5%, 5%) rotate(240deg) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

.c_h--w--left--title {
  margin-bottom: rem(137);

  span {
    color: #1e1f29;
    font-size: rem(64);
    font-weight: 700;
    line-height: rem(68);
  }
}

.c_h--w--left--btn {
  width: 100%;
  max-width: rem(403);
  height: rem(133);
  background-color: #2c50ff;
  padding: 0 rem(46);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  &:hover {
    &:after {
      height: 100%;
    }
    span, i {
      color: #2c50ff;
    }
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: '';
    background: #fff;
    transition: height .4s ease-in-out;
    z-index: 1;
  }

  span {
    color: #ffffff;
    font-size: rem(20);
    font-weight: 500;
    line-height: rem(39);
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    transition: color .4s ease-in-out;
  }

  i {
    color: #fff;
    position: relative;
    z-index: 2;
    transition: color .4s ease-in-out;
    font-size: rem(26);
  }
}

.c_h--w--right {
  width: 100%;
  max-width: rem(742);
  counter-reset: how;
}

.c_h--w--right--item {
  width: 100%;
  box-shadow: 0 rem(11) rem(67) rgba(21, 28, 130, 0.03);
  background-color: #ffffff;
  padding: rem(62) rem(70) rem(63) rem(62);
  margin-bottom: rem(4);
  position: relative;

  &:before {
    position: absolute;
    top: rem(23);
    right: rem(23);
    width: rem(36);
    height: rem(36);
    background-color: #dee3f6;
    counter-increment: how;
    content: '0' counter(how);
    text-align: center;
    color: #ffffff;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(68);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c_h--w--right--item--title {
  margin-bottom: rem(40);

  span {
    color: #33343d;
    font-size: rem(23);
    font-weight: 500;
    line-height: rem(31);
  }
}

.c_h--w--right--item--text {
  p {
    color: #33343d;
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(26);
  }
}

.corporate_how--bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(144);
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}