$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.indevelop_page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #fff;
  padding-bottom: rem(40);
  overflow: hidden;

  .indevelop_page--wrap {
    width: 100%;
    max-width: rem(1100);
    padding: 0 rem(10);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .indevelop_img {
    position: relative;
    width: 100%;
    max-width: rem(1047);
    margin-bottom: rem(5);
    margin-top: rem(-30);

    svg {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  .indevelop_btn {
    width: 100%;
    max-width: rem(212);
    height: rem(81);
    background-color: #2c37e3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: rem(80);
    box-shadow: 0 rem(20) rem(60) rgba(#2c37e3, .0);
    transition: box-shadow .4s ease-in-out;

    &:hover {
      box-shadow: 0 rem(20) rem(60) rgba(#2c37e3, .3);
      span {
        color: #2c37e3;
      }

      &:before {
        height: 100%;
      }
    }

    span {
      position: relative;
      z-index: 2;
      text-align: center;
      color: #ffffff;
      font-size: rem(20);
      font-weight: 500;
      transition: color .4s ease-in-out;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      content: '';
      background: #fff;
      transition: height .4s ease-in-out;
    }
  }

  .indevelop_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .indevelop_text--title {
    color: #1e1f29;
    font-size: rem(45);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: rem(10);
  }

  .indevelop_text--description {
    color: #4c4f70;
    font-size: rem(27);
    font-weight: 300;
    line-height: rem(42);
  }
}