$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.landing_page--main {
  position: relative;

  .l_p--main--bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: rem(1800);
    object-fit: cover;
    z-index: -1;
  }
}

.l_p--main--wrap {
  width: 100%;
  max-width: rem(1460);
  margin: 0 auto;
  padding: 0 rem(10);
}

.l_p--header {
  padding-top: rem(182);
  position: relative;

  .l_p--header--bg {
    position: absolute;
    top: 0;
    left: rem(230);
    width: rem(224);
    height: auto;
  }
}


.l_p--h--menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-bottom: rem(95);

  .l_p--header--arrow {
    position: absolute;
    top: 0;
    left: rem(-168);
    color: #2c37e3;

    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    bottom: rem(-20);
    left: 0;
    content: '';
    width: 100%;
    height: rem(2);
    background-color: #dcdde9;
  }

  a {
    color: #9698ac;
    font-size: rem(17);
    font-weight: 700;
    line-height: rem(75);
    text-transform: uppercase;
    margin-right: rem(65);
    transition: color .4s ease-in-out;
    position: relative;

    &:before {
      position: absolute;
      bottom: rem(-20);
      left: 0;
      width: 0;
      height: rem(2);
      content: '';
      background: #2c37e3;
      transition: width .4s ease-in-out;
    }

    &.active {
      color: #2c3bff;
      cursor: pointer;

      &:before {
        width: 100%;
      }
    }

    &:hover {
      color: #2c3bff;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.l_p--title {
  width: 100%;
  max-width: rem(950);
  color: #1e1f29;
  font-size: rem(80);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: rem(100);
}


.l_p--items-wrap {
  padding-top: rem(100);
  position: relative;
  width: 100%;
  max-width: rem(1000);
  counter-reset: icons;

  .l_p-line {
    position: absolute;
    top: 0;
    right: rem(-80);
    width: rem(51);
    height: auto;
  }
}

.l_p--item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: rem(220);
  justify-content: space-between;

  &:nth-child(1) {
    .l_p--icon {
      .line_icon {
        width: rem(84);
        height: rem(16);
        position: absolute;
        top: rem(40);
        right: rem(-16);
        z-index: 3;
        transform-origin: center center 0;
      }

      .square_icon {
        position: absolute;
        bottom: rem(14);
        left: rem(-30);
        width: rem(96);
        height: rem(96);
        z-index: 2;
        transform-origin: center center 0;
      }

      .main_icon {
        width: rem(179);
        height: rem(242);
        position: absolute;
        top: rem(-5);
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
    }
  }

  &:nth-child(2) {
    .l_p--icon {
      .line_icon {
        width: rem(11);
        height: rem(51);
        position: absolute;
        bottom: rem(-19);
        left: rem(-89);
        z-index: 3;
      }

      .square_icon {
        position: absolute;
        top: 0;
        left: rem(24);
        width: rem(96);
        height: rem(96);
        z-index: 2;
      }

      .main_icon {
        width: rem(170);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-30%);
        z-index: 1;
      }
    }
  }

  &:nth-child(3) {
    .l_p--icon {
      .line_icon {
        width: rem(64);
        height: rem(16);
        position: absolute;
        top: 50%;
        left: rem(-179);
        z-index: 3;
      }

      .square_icon {
        position: absolute;
        top: rem(-30);
        right: rem(-24);
        width: rem(96);
        height: rem(96);
        z-index: 2;
      }

      .main_icon {
        width: rem(143);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-40%);
        z-index: 1;
      }
    }
  }

  &.reverse {
    flex-direction: row-reverse;

    .l_p--icon--wrap {
      margin-right: 0;
      margin-left: rem(80);

      &:before {
        left: initial;
        right: rem(40);
      }

      &:after {
        left: initial;
        right: 0;
      }
    }
  }

  .l_p--icon--wrap {
    width: 100%;
    max-width: rem(530);
    margin-right: rem(80);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    &:before {
      top: 0;
      left: 0;
      width: rem(66);
      height: rem(1);
      background-color: #b3b4c5;
      content: '';
      position: absolute;
    }

    &:after {
      position: absolute;
      top: 0;
      left: rem(80);
      color: #898aa6;
      font-size: rem(19);
      font-weight: 400;
      counter-increment: icons;
      content: "0" counter(icons);
      transform: translateY(-50%);
    }

    .l_p--icon {
      width: rem(230);
      height: rem(230);
      border-radius: 50%;
      box-shadow: 0 rem(50) rem(85) rgba(44, 80, 255, 0.25);
      background-color: #2c50ff;
      position: relative;

      @keyframes pulse {
        0% {
          -moz-box-shadow: inset 0 0 0 rgba(#fff, 0.2);
          box-shadow: inset 0 0 0 rgba(#fff, 0.2);
        }
        70% {
          -moz-box-shadow: inset 0 0 0 rem(80) rgba(#fff, 0);
          box-shadow: inset 0 0 0 rem(80) rgba(#fff, 0);
        }
        100% {
          -moz-box-shadow: inset 0 0 0 rgba(#fff, 0);
          box-shadow: inset 0 0 0 rgba(#fff, 0);
        }
      }

    }
  }

  @keyframes LpSquareAnimationFirst {
    0% {
      transform: translate(0, 0) rotate(0) scale(1);
    }
    50% {
      transform: translate(-5%, 5%) rotate(120deg) scale(.96);
    }
    70% {
      transform: translate(-5%, 5%) rotate(240deg) scale(.90);
    }
    100% {
      transform: translate(0, 0) rotate(0) scale(1);
    }
  }

  @keyframes LpLineAnimationFirst {
    0% {
      transform: translate(0, 0) rotate(0) scale(1);
    }
    50% {
      transform: translate(-50%, 50%) rotate(5deg) scale(.96);
    }
    70% {
      transform: translate(-25%, 15%) rotate(-5deg) scale(.90);
    }
    100% {
      transform: translate(0, 0) rotate(0) scale(1);
    }
  }

  .l_p--text {
    width: 100%;
    max-width: rem(380);

    .l_p--text--title {
      color: #1e1f29;
      font-size: rem(38);
      font-weight: 500;
      margin-bottom: rem(30);
    }
  }

  .l_p--text--info {
    p {
      color: #33343d;
      font-size: rem(18);
      font-weight: 400;
      line-height: rem(31);
    }
  }

}

.landing_page--footer {
  position: relative;
  padding: rem(140) 0 rem(125) 0;
}

.l_p--footer--wrap {
  width: 100%;
  max-width: rem(1460);
  margin: 0 auto;
  padding: 0 rem(10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l_p--f--left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: rem(720);

  .l_p--f--left--text {
    p {
      position: relative;
      padding-left: rem(20);
      &:before {
        position: absolute;
        top: rem(10);
        left: 0;
        width: rem(6);
        height: rem(6);
        content: '';
        background-color: #0c10ff;
      }
      &.f-title {
        padding-left: 0;
        &:before {
          content: none;
        }
      }
    }
  }

  .f-title {
    color: #2c50ff;
    font-size: rem(32);
    font-weight: 500;
    margin-bottom: rem(40);
  }

  p {
    color: #ffffff;
    font-size: rem(17);
    font-weight: 500;
    margin-bottom: rem(10);

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.l_p--f--right {
  display: flex;
  align-items: center;
}

.l_p--btn-calc {
  width: 100%;
  max-width: rem(402);
  height: rem(133);
  background-color: #2c50ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(45);
  transition: box-shadow .4s ease-in-out;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    content: '';
    transition: height .4s ease-in-out;
    z-index: 1;
  }

  &:hover {
    span, i {
      color: #2c50ff;
    }

    &:before {
      height: 100%;
    }

    box-shadow: 0 rem(-20) rem(80) rgba(#2c50ff, .2);
  }


  span {
    color: #ffffff;
    font-size: rem(20);
    font-weight: 500;
    text-transform: uppercase;
    margin-right: rem(40);
    transition: right .4s ease-in-out, color .4s ease-in-out;
    z-index: 2;
  }

  i {
    color: #ffffff;
    font-size: rem(20);
    font-weight: 500;
    transition: right .4s ease-in-out, color .4s ease-in-out;
    z-index: 2;
  }
}


.bg-footer {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
}