@media only screen and (orientation: portrait) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1140px) {
  html {
    font-size: 16px;
  }
  .contacts_popup {
    padding: 0 10px;
    left: 0;
  }
  .contacts_popup .contacts_popup--wrap {
    padding: 80px 40px 60px;
    margin-right: 10px;
  }
  .contacts_popup .contacts_popup--wrap .contacts_popup--input:nth-child(2) {
    margin-bottom: 50px;
  }
  .contacts_popup .contacts_popup--wrap .contacts_popup--cls {
    width: 60px;
    height: 60px;
  }
  .contacts_popup .contacts_popup--wrap .contacts_popup--title {
    font-size: 60px;
    line-height: 52px;
    left: 30%;
  }
  .contacts_popup .contacts_popup--wrap .contacts_popup--input span {
    font-size: 20px;
  }
  .contacts_page {
    padding-top: 20vh;
  }
  .contacts_top {
    padding-top: 20vh;
  }
  .contacts_page:before {
    width: 10%;
  }
  .contacts_page:after {
    width: 90%;
  }
  .c_t--w--l--tel a {
    font-size: 40px;
  }
  .c_t--w--l--telegram a span {
    font-size: 40px;
  }
  .contacts_top--wrap--right {
    max-width: 260px;
  }
  .c_t--w--l--tel {
    margin-bottom: 40px;
  }
  .contacts_bottom .contacts_btn {
    height: 160px;
    max-width: 540px;
    margin-right: 40px;
  }
  .contacts_bottom {
    padding: 0 10px;
  }
  .contacts_page .contacts_wrap {
    height: 100vh;
  }
  .b_c--b--buttons .b_c--b--btn {
    font-size: 16px;
  }
  .b_c--left {
    width: 60%;
  }
  .b_c--right .b_c--right--title .b_c--r--t--info span, .b_c--quantity .b_c--q--buttons .b_c--q--btn {
    font-size: 16px;
  }
  .indevelop_page {
    padding-top: 120px;
  }
  .base_inner--category {
    margin-left: 90px;
  }
  .base_inner--page .base_inner--page--bg {
    width: 250%;
  }
  .base_page, .base_inner--page {
    overflow: hidden;
  }
  .base_inner--title {
    font-size: 50px;
  }
  .base_inner--category .base_inner--name {
    font-size: 20px;
  }
  .base_top--wrap .base_top--icon {
    transform: translate(0, -20%);
  }
  .base_top--wrap .base_top--icon {
    width: 220px;
  }
  .base_page .base_page--bg {
    width: 140%;
  }
  .p_c--w--c--right {
    padding-left: 40px;
  }
  .p_c--w--c--right .p_c--right--sum .p_c--sum--price, .p_c--w--c--right .p_c--right--sum .p_c--sum--day, .b_c--right .b_c--right--result .b_c--right--result--sum, .b_c--right .b_c--right--result .b_c--right--result--day {
    font-size: 50px;
  }
  .b_c--brand {
    margin-right: 20px;
  }
  .b_c--right {
    padding-left: 30px;
  }
  .b_c--b--title span, .b_c--quantity .b_c--q--title span {
    margin-bottom: 40px;
  }
  .p_c--c--time .p_c--c--time--input .p_c--c--text span {
    font-size: 20px;
  }
  .p_c--c--time .p_c--c--title span, .p_c--c--type .p_c--c--title span {
    margin-bottom: 36px;
  }
  .p_c--c--type .p_c--c--buttons .p_c--c--btn {
    font-size: 16px;
  }
  .p_c--c--time .p_c--c--time--input .p_c--c--input .p_c--c--input--minute span {
    font-size: 20px;
  }
  .websites_main.promo_main .websites_top {
    padding-bottom: 80px;

    .w_t--bg {
      height: 1400px;
      width: 100%;
    }
  }
  .p_i--wrap--icon svg, .p_i--wrap--icon, .websites_main.branding_main .p_i--wrap--icon svg {
    width: 240px;
    height: 240px;
  }
  .p_i--wrap--text .p_i--wrap--title {
    align-items: center;
  }
  .corporate_page--goals .c_p--g--item {
    padding: 70px 40px;
  }
  .function_box {
    flex-wrap: wrap;
  }
  .function_item {
    flex: 1 1 30%;
  }
  .s_p--wrap .s_p--wrap--item {
    padding: 80px 30px;
  }
  .landing_page--main, .shop_page {
    overflow: hidden;
  }
  .l_p--title, .s_p--title {
    margin-bottom: 100px;
  }
  .l_p--items-wrap {
    padding-top: 0;
  }
  .l_p--item .l_p--text .l_p--text--title {
    font-size: 30px;
  }
  .l_p--item .l_p--text--info p {
    font-size: 16px;
  }
  .l_p--item {
    margin-bottom: 140px;
  }
  .l_p--f--left {
    flex-direction: column;
  }
  .l_p--f--left--text {
    margin-bottom: 60px;
  }
  .landing_page--footer {
    padding: 90px 0 60px;
  }
  .l_p--btn-calc span {
    font-size: 16px;
  }
  .l_p--f--left {
    max-width: 460px;
  }
  .l_p--footer--wrap {
    justify-content: space-around;
    align-items: flex-start;
  }
  .l_p--f--left .f-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .l_p--h--menu .l_p--header--arrow, .s_p--h--menu .s_p--header--arrow {
    left: 0;
    top: -60px;
  }
  .l_p--header .l_p--header--bg, .s_p--header .s_p--header--bg {
    width: 120px;
  }
  .websites_top .w_t--circle {
    width: 140px;
    right: 20%;
    left: initial;
  }
  .w_t--wrap .w_t--m--item, .l_p--h--menu a, .s_p--h--menu a {
    font-size: 14px;
  }
  .w_t--wrap a {
    font-size: 16px;
  }
  .websites_m .title {
    font-size: 30px;
  }
  .l_p--title, .s_p--title {
    font-size: 46px;
    line-height: initial;
  }
  .s_p--title {
    max-width: 600px;
  }
  .w_m--t--title {
    font-size: 16px;
  }
  .w_m--t--check label {
    font-size: 16px;
  }
  .w_m--t--item {
    max-width: 380px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .w_m--top {
    margin: 0 -30px;
  }
  .w_m--m--title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .w_m--m-line {
    margin-bottom: 30px;
  }
  .w_m--m-line .w_m--m-line--check label {
    width: 18px;
    height: 18px;
  }
  .w_b--left, .w_b--right {
    flex: 1 1 50%;

  }
  .w_b--left {
    margin-right: 70px;
  }

  .w_b--title {
    font-size: 22px;
  }

  .w_b--top p {
    font-size: 18px;
  }

  .w_b--top .w_b--top--include .w_b--top--include--btn {
    font-size: 14px;
  }

  .w_b--top--result .w_b--top--result--cost {
    font-size: 56px;
  }
  .w_b--top--result .w_b--top--result--day {
    font-size: 50px;
  }
  .btn_order {
    height: 140px;
  }
  .btn_order span {
    font-size: 26px;
  }
  .w_b--list--line {
    align-items: flex-start;
  }
  .w_b--list--main--type, .w_b--list--main--cost {
    font-size: 16px;
  }

  .w_b--list--main--type {
    width: 70%;
  }

  .w_b--list--main--cost {
    width: 30%;
  }

  .websites_b {
    padding-top: 90px;
  }
  .w_m--m-line .w_m--m-l--name {
    font-size: 16px;
  }
  .w_m--m-line .w_m--cost-block .w_m--m-l--cost {
    font-size: 14px;
  }
  .w_m--m-line .w_m--cost-block span {
    font-size: 12px;
  }
  .w_m--m--item {
    padding: 50px 50px 70px 30px;
  }
  .websites_m .w_m--icon {
    right: 30px;
    width: 200px;
  }

  .main_menu .nav a {
    &:before, &:after {
      font-size: 40px;
      top: 0;
      line-height: initial;
    }

    span {
      font-size: 40px;
      line-height: initial;
    }

  }
  .main_menu .nav a span:before {
    font-size: 16px;
    top: 10px;
    left: -20px;
  }
  .main_menu .nav a span:after {
    top: 18px;
    right: calc(100% + 20px);
  }


  .main_menu .nav {
    padding-left: 86px;
  }
  .header_main .logo {
    max-width: 150px;
    left: 10px;
  }
  .m_s--l--wrap {
    bottom: 100px;
  }
  .main_screen--left {
    width: 55%;
    flex: none;
    overflow: initial;
  }
  .main_screen--right {
    width: 50%;
    overflow: initial;
  }
  .main_screen--left .m_s--l--arrow {
    left: 0;
    width: 300px;
    transform: translateX(20%);
  }
  .main_screen--right .m_s--l--arrow {
    left: 0;
    width: 300px;
    transform: translateX(20%);
  }
  .main_screen--left .m_s--l--info {
    margin-left: 60px;
  }
  .m_s--l--category {
    font-size: 20px;
  }
  .m_s--l--text {
    font-size: 36px;
    line-height: initial;
  }
  .main_screen--right .m_s--l--info {
    margin-left: 60px;
  }
  .m_s--points a {
    font-size: 14px;
    margin: 0 15px;
  }
  .main_screen--menu {
    width: 80px;
  }
  .m_s--lang a {
    width: 80px;
    height: 80px;
    font-size: 18px;
  }
  .m_s--lang .cls_lang {
    width: 80px;
    height: 80px;
  }
  .m_s--nav {
    width: 80px;
    height: 80px;
  }
  .p_c--c--type {
    margin-right: 20px;
  }
}


@media only screen and (max-width: 980px) {

  .contacts.c_page {
    .m_s--nav {
      background: #202ce5;
    }

    .m_s--nav .m_s--nav--burger i {
      background: #fff;
    }

    .m_s--lang a {
      color: #fff;
      background: #202ce5;
    }
  }
  .b_c--calculator {
    flex-direction: column;
  }
  .b_c--left {
    margin-bottom: 60px;
  }
  .b_c--right {
    padding-left: 0;
  }
  .nf_info .nf_text--title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .nf_info .nf_text--description {
    font-size: 20px;
  }
  .promo_calc {
    padding-top: 110px;
  }
  .p_c--wrap--title, .b_c--title {
    margin-bottom: 70px;
  }
  .c_h--w--left--title {
    margin-bottom: 80px;
  }
  .corporate_page--goals .c_p--g--item {
    max-width: 160px;
  }
  .corporate_quote .c_q--icon {
    left: 0;
  }
  .corporate_quote .c_q--icon:nth-child(2) {
    right: 0;
  }
  .w_b--top--result .w_b--top--result--day {
    white-space: nowrap;
  }
  .btn_order {
    padding-left: 10%;
  }
  .btn_order i {
    font-size: 12px;
    right: 18%;
  }
  .btn_order span {
    font-size: 20px;
  }
  .m_s--nav {
    background: transparent;
  }
  .m_s--nav .m_s--nav--burger i {
    background: black;
  }
  .m_s--lang a {
    background: transparent;
  }
  .main_screen--bg img {
    width: 110%;
    left: -10%;
  }
  .main_screen--menu {
    background: transparent;
  }
  .m_s--points {
    display: none;
  }
  body.m_page .header_main .main_screen--menu {
    height: initial;
  }
  .m_s--top {
    display: flex;
    flex-direction: row-reverse;
  }
  .main_screen--menu {
    width: auto;
  }
  .main_screen--left {
    width: 50%;
  }
  .main_screen--right {
    width: 50%;
  }
  .main_screen {
    width: 100%;
  }

}

@media only screen and (max-width: 920px) {
  .contacts_bottom .contacts_btn {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 890px) {
  .b_c--calculator {
    flex-direction: column;
  }
  .b_c--left {
    width: 100%;
    margin-bottom: 80px;
  }
  .b_c--right {
    padding-left: 0;
    width: 100%;
  }

  .contacts_bottom .contacts_btn {
    padding: 0 50px 0 30px;
  }
  .contacts_bottom .contacts_btn span {
    font-size: 24px;
  }

}

@media only screen and (max-width: 768px) {

  .contacts_popup .contacts_popup--wrap .contacts_popup--title {
    left: 40%;
  }
  .contacts_bottom .contacts_bottom--social p {
    font-size: 16px;
  }
  .contacts_bottom .contacts_bottom--social {
    max-width: 300px;
  }
  .contacts_bottom .contacts_bottom--social .contacts_bottom--social--icons .c_b--s--i--items {
    width: 50px;
    height: 50px;
  }
  .contacts_page .contacts_wrap {
    position: relative;
    height: auto;
  }
  .contacts_page {
    padding-top: 0;
  }
  .contacts_top {
    flex-direction: column-reverse;
  }
  .contacts_top {
    padding-top: 20vh;
    margin-bottom: 50px;
  }
  .contacts_bottom .contacts_btn {
    height: 120px;
    margin-bottom: 90px;
  }
  .contacts_bottom {
    position: relative;
    padding: 0 0;
  }
  .contacts_bottom .contacts_bottom--social {
    align-self: flex-end;
  }
  .contacts_page .contacts_wrap {
    bottom: 30px;
  }
  .contacts_page:before {
    width: 15%;
  }
  .contacts_page:after {
    width: 85%;
  }
  .contacts_top--wrap--left {
    margin-right: 0;
  }
  .contacts_bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .nf_page {
    padding-top: 120px;
  }
  .nf_img {
    margin-right: 0;
    width: 60%;
    margin-bottom: 40px;
  }
  .nf_info {
    align-items: center;
    text-align: center;
  }
  .nf_page--wrap {
    flex-direction: column;
    align-items: center;
  }
  .indevelop_page .indevelop_text--title {
    font-size: 26px;
  }
  .indevelop_page .indevelop_text--description {
    font-size: 18px;
  }
  .indevelop_page .indevelop_btn {
    margin-bottom: 50px;
  }
  .base_inner--page {
    padding-top: 130px;
  }
  .b_i--text .b_i--description {
    font-size: 22px;
  }
  .b_i--img {
    margin-bottom: 40px;
    height: 200px;
  }
  .b_i--text ul {
    padding-left: 30px;
  }
  .b_i--btn--prev {
    padding-left: 30px;
  }
  .b_i--btn--next {
    padding-right: 30px;
  }
  .b_i--btn--prev span, .b_i--btn--next span {
    font-size: 18px;
  }
  .base_top--wrap .base_top--icon {
    transform: translate(10%, -40%);
  }
  .base_top--title {
    font-size: 50px;
  }
  .branding_info {
    padding: 110px 0 40px;
  }
  .branding_info .branding_info--wrap {
    flex-direction: column;
  }
  .branding_info .branding_info--item {
    max-width: initial;
    margin-bottom: 90px;
  }
  .branding_info .b_i--i--icon {
    margin-bottom: 30px;
  }
  .branding_info .b_i--i--point {
    display: none;
  }
  .p_i--wrap--icon svg, .p_i--wrap--icon, .websites_main.branding_main .p_i--wrap--icon svg {
    width: 180px;
    height: 180px;
  }
  .p_i--wrap--icon #square {
    width: 50px;
    height: 50px;
  }
  .p_i--wrap--text {
    margin-left: 0;
  }
  .p_c--wrap--title, .b_c--title {
    font-size: 36px;
  }
  .p_c--wrap-calculator {
    flex-direction: column;
  }
  .p_c--w--c--left {
    width: 100%;
    margin-bottom: 60px;
  }
  .p_c--w--c--right {
    padding-left: 0;
    width: 100%;
  }
  .promo_portfolio {
    padding-top: 40px;
  }
  .promo_portfolio--wrap .promo_portfolio--item .promo_portfolio--item--name {
    font-size: 28px;
  }
  .promo_portfolio--wrap .promo_portfolio--item {
    padding: 50px 30px;
    height: 300px;
  }
  .p_i--wrap--text .p_i--wrap--info p {
    font-size: 18px;
  }
  .websites_main.promo_main .w_t--circle {
    right: 20%;
  }
  .p_i--wrap--text .p_i--wrap--info {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .promo_calc, .branding_calc {
    padding: 70px 0;
  }
  .websites_main {
    &.promo_main {
      .websites_top .w_t--wrap {
        padding-left: 160px;
      }
    }
  }
  .p_i--wrap--icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-30%) translateY(-100%);
  }
  .corporate_how--wrap {
    flex-direction: column;
  }
  .c_h--w--left {
    max-width: initial;
    margin-bottom: 40px;
  }
  .corporate_page--goals .c_p--g--wrap {
    flex-direction: column;
  }
  .corporate_page--goals .c_p--g--item .c_p--g--info {
    max-height: 0;
    transition: position .0s ease-in-out, opacity .0s ease-in-out, visibility .0s ease-in-out, max-height .0s ease-in-out;
  }
  .corporate_page--goals .c_p--g--item.active .c_p--g--info {
    max-height: 100%;
    transition: position .0s ease-in-out, opacity .0s ease-in-out, visibility .0s ease-in-out, max-height .4s ease-in-out;
  }
  .corporate_page--goals .c_p--g--item {
    max-width: initial;
    min-height: 220px;
    margin-bottom: 40px;
    max-height: 220px;
    transition: max-height .4s ease-in-out, min-height .4s ease-in-out;
  }
  .corporate_page--goals .c_p--g--item.active {
    max-height: 100%;
    transition: max-height .4s ease-in-out, min-height .4s ease-in-out;
  }

  .corporate_quote .c_q--icon:nth-child(2) {
    top: initial;
    bottom: 20%;
  }
  .corporate_quote .c_q--item .c_q--item--text p {
    font-size: 28px;
    line-height: initial;
  }
  .corporate_quote .c_q--item {
    padding: 0 10px;
  }

  .corporate_page--goals {
    padding-bottom: 80px;
  }

  .corporate_page--goals .c_p--g--item .c_p--g--title {
    right: initial;
    left: 20px;
    transform: rotate(0);
  }
  .s_p--wrap {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  .s_p--wrap .s_p--wrap--item {
    width: 100%;
  }
  .s_p--wrap .s_p--wrap--item .s_p--w--i--list {
    max-width: initial;
  }
  .l_p--item .l_p--icon--wrap {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .l_p--item .l_p--icon--wrap .l_p--icon #main_icon {
    width: 130px;
    top: -19%;
    left: 48%;
  }
  .l_p--item .l_p--text {
    max-width: initial;
  }
  .l_p--item .l_p--icon--wrap .l_p--icon {
    width: 180px;
    height: 180px;
  }
  .l_p--item .l_p--icon--wrap:before, .l_p--item .l_p--icon--wrap:after {
    content: none;
  }

  .l_p--item .l_p--icon--wrap {
    justify-content: flex-start;
    padding-left: 60px;
  }

  .l_p--item {
    flex-direction: column;
    align-items: flex-start;

    &.reverse {
      flex-direction: column;
    }
  }
  .l_p--item.reverse .l_p--icon--wrap {
    margin-left: 0;
    margin-bottom: 80px;
  }
  .l_p--footer--wrap {
    flex-direction: column;
  }
  .websites_m {
    padding-top: 80px;
  }
  .w_m--main {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .w_m--m--item {
    width: 100%;
    padding-bottom: 40px;

    &:nth-child(2) {
      padding-bottom: 60px;
    }
  }
  .websites_b .w_m--wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .w_b--left {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .w_b--right {
    width: 100%;
  }
  .websites_m .title {
    margin-bottom: 80px;
  }
  .w_m--top {
    flex-wrap: wrap;
  }
  .main_screen--bg img {
    width: 110%;
    left: -12%;
  }
  .m_s--points {
    display: none;
  }
  body.m_page .header_main .main_screen--menu {
    height: auto;
  }
  .main_screen--left .m_s--l--arrow {
    left: 0;
    transform: translateX(10%);
    width: 260px;
    margin-bottom: 15px;
  }
  .main_screen--right .m_s--l--arrow {
    left: 0;
    width: 260px;
    transform: translateX(20%);
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .popup_confirm .popup_wrap .popup_top {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
  }
  .popup_confirm .popup_wrap .popup_top .popup_title {
    font-size: 24px;
  }
  .popup_confirm .popup_wrap .popup_info, .popup_confirm .popup_wrap .popup_bottom {
    padding-left: 15px;
    padding-right: 15px;
  }
  .popup_confirm .popup_wrap .popup_top .popup_icon {
    width: 80px;
    height: 80px;
  }
  .popup_confirm .popup_wrap .popup_top .popup_cls {
    width: 80px;
    height: 80px;
  }
  .branding_info .branding_info--item {
    &:last-child {
      margin-bottom: 30px;
    }
  }
  .b_c--b--buttons .b_c--b--btn, .p_c--c--type .p_c--c--buttons .p_c--c--btn {
    height: 70px;
  }
  .b_c--quantity .b_c--q--buttons .b_c--q--btn, .p_c--c--time .p_c--c--time--input .p_c--c--input .p_c--c--input--minute {
    width: 70px;
    height: 70px;
  }
  .base_top--wrap .base_top--icon {
    transform: translate(35%, -40%);
  }
  .b_m--b--list a {
    margin-right: 15px;
  }
  .b_m--b--title {
    font-size: 26px;
  }
  .base_top--title {
    padding-right: 20%;
  }
  .b_c--left {
    flex-direction: column;
  }
  .b_c--brand {
    margin-bottom: 80px;
  }
  .s_p--title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .function_title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .w_t--wrap .w_t--m--item, .l_p--h--menu a, .s_p--h--menu a {
    line-height: initial;
  }

  .main_screen--bg img {
    width: 110%;
    left: -14%;
  }
  .main_screen--left .m_s--l--arrow {
    transform: translateX(0);
  }
  .main_screen--right .m_s--l--arrow {
    transform: translateX(0);
  }
  .main_screen--left .m_s--l--info {
    margin-left: 30px;
  }
  .main_screen--right .m_s--l--info {
    margin-left: 30px;
  }
  .m_s--l--wrap {
    bottom: 40px;
  }
}

@media only screen and (max-width: 540px) {
  .c_t--w--l--telegram--icon, .c_t--w--l--tel--icon {
    width: 70px;
    height: 70px;
  }

  .c_t--w--l--tel a {
    font-size: 24px;
  }
  .c_t--w--l--telegram a span {
    font-size: 24px;
  }
  .c_t--w--l--telegram a .c_t--w--l--telegram--arrow {
    width: 60px;
    margin-top: 0;
  }
  .popup_confirm .success_popup .c_p--success {
    padding-left: 20px;
  }
  .popup_confirm .success_popup .c_p--success .c_p--success--title {
    font-size: 32px;
  }
  .popup_confirm .success_popup .c_p--success .c_p--success--description {
    font-size: 22px;
  }
}

@media only screen and (max-width: 440px) {
  .popup_confirm .popup_wrap .popup_top .popup_title {
    width: initial;
  }
  .popup_confirm .popup_wrap .popup_top .popup_icon {
    margin-right: 10px;
  }
  .contacts_popup .contacts_popup--wrap .c_p--success .c_p--success--title {
    font-size: 24px;
  }
  .contacts_popup .contacts_popup--wrap .c_p--success .c_p--success--description {
    font-size: 20px;
  }
  .contacts_popup .contacts_popup--wrap .contacts_popup--title {
    left: initial;
    right: 0;
    transform: translateY(-100%) translateX(-25%);
  }
  .contacts_top--wrap--right {
    max-width: 200px;
    margin-bottom: 50px;
  }
  .contacts_page:before {
    width: 20%;
  }
  .contacts_page:after {
    width: 80%;
  }
  .main_screen {
    height: calc(100vh + 100px);
  }
  .branding_info .b_i--i--title {
    font-size: 24px;
  }
  .branding_info .b_i--i--text p {
    font-size: 16px;
  }
  .base_inner--title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .base_top {
    margin-bottom: 80px;
  }
  .base_top--title {
    font-size: 36px;
  }
  .base_top--wrap .base_top--icon {
    width: 180px;
  }
  .base_page .base_page--bg {
    width: 240%;
  }
  .base_main--block {
    margin-bottom: 40px;
  }
  .p_i--wrap--icon svg, .p_i--wrap--icon {
    width: 140px;
    height: 140px;
  }
  .p_i--wrap--icon {
    transform: translateY(-80%) translateX(-30%);
  }
  .p_c--w--c--left {
    flex-direction: column;
  }
  .p_c--c--type {
    margin-bottom: 40px;
  }
  .p_c--c--time .p_c--c--time--input .p_c--c--text span {
    display: none;
  }
  .p_c--w--c--right .p_c--right--title .p_c--right-info span {
    font-size: 16px;
  }
  .promo_portfolio--wrap {
    flex-direction: column;
  }
  .promo_portfolio--wrap .promo_portfolio--item {
    width: 100%;
  }
  .p_i--wrap--text .p_i--wrap--title span {
    font-size: 24px;
  }
  .p_c--wrap--title {
    font-size: 28px;
    text-align: left;
  }
  .promo_portfolio--wrap .promo_portfolio--item {
    height: 220px;
  }
  .c_h--w--left--title span {
    font-size: 36px;
    line-height: initial;
  }
  .c_h--w--right--item {
    padding-left: 20px;
    padding-right: 20px;
  }
  .s_p--wrap .s_p--wrap--item .s_p--w--i--title {
    padding-left: 0;
  }
  .shop_footer {
    padding: 40px 0;
  }
  .function_item {
    flex: 1 1 100%;
  }
  .l_p--btn-calc {
    height: 120px;
  }

  .l_p--title {
    font-size: 30px;
  }
  .l_p--h--menu .l_p--header--arrow, .s_p--h--menu .s_p--header--arrow {
    left: 0;
    top: -45px;
  }
  .w_m--t--title {
    margin-bottom: 20px;
  }
  .w_m--m-line .w_m--m-l--name {
    width: 30%;
  }
  .w_m--m-line .w_m--cost-block {
    width: 24%;
  }
  .w_m--m-line .w_m--cost-block .w_m--m-l--cost {
    margin-right: 5px;
  }
  .w_m--m-line .w_m--cost-block .w_m--m-l--number {
    width: 30px;
  }
  .w_m--m--item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .w_m--m-line {
    justify-content: space-between;
  }
  .w_m--t--check {
    max-width: initial;
  }
  .websites_m .w_m--icon {
    width: 150px;
  }
  .websites_top, .l_p--header, .s_p--header {
    padding-top: 140px;
  }
  .w_t--wrap .w_t--m--item, .l_p--h--menu a, .s_p--h--menu a {
    margin-right: 10px;
  }
  .w_t--wrap .w_t--menu, .l_p--h--menu {
    margin-bottom: 60px;
  }
  .m_s--nav {
    width: 70px;
  }
  .m_s--lang a {
    width: 50px;
    height: 80px;
  }
  .m_s--lang .cls_lang {
    width: 50px;
    height: 80px;
  }
  .websites_top .w_t--bg {
    width: 250%;
    z-index: -1;
  }
  body.classic_page .m_s--lang {
    display: block;
  }
  .websites_top .w_t--circle, .l_p--header .l_p--header--bg, .s_p--header--bg {
    display: none;
  }
  .s_p--wrap .s_p--wrap--item .s_p--w--i--list p {
    padding-left: 40px;
  }
  .main_screen {
    height: calc(100vh + 50px);
  }
  .main_menu .nav a span:after {
    top: 18px;
    right: calc(100% + 30px);
  }
  .main_menu .nav {
    padding-left: 60px;
  }
  .header_main .logo {
    top: 30px;
    left: 10px;
    max-width: 140px !important;

    svg {
      max-width: 140px !important;
    }
  }
  .main_screen--left .m_s--l--arrow {
    width: 220px;
    transform: translateX(-13%);
  }
  .main_screen--bg img {
    width: 110%;
    left: -18%;
  }
  .main_screen--right .m_s--l--arrow {
    width: 220px;
    transform: translateX(-10%);
    left: 0;
    z-index: 5;
  }
  .main_screen--right .m_s--l--arrow svg {
    filter: none;
  }
  .main_screen--left .m_s--l--arrow svg {
    filter: none;
  }
  .m_s--l--wrap {
    bottom: 200px;
  }
  .m_s--l--text {
    font-size: 20px;
  }
  .m_s--l--wrap {
    width: 50%;
  }
  .main_screen--bg img {
    left: -21%;
  }
}