$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.websites_main {
  &.promo_main {
    .websites_top {
      padding-bottom: rem(200);
    }

    .w_t--circle {
      right: rem(367);
      left: initial;
    }
  }
}

.promo_info--wrap {
  width: 100%;
  max-width: rem(1350);
  margin: 0 auto;
  display: flex;
  padding: rem(80) rem(10) 0;
  z-index: 2;
  position: relative;
}

.p_i--wrap--icon {
  width: rem(369);
  height: rem(371);
  position: relative;

  #square {
    width: rem(150);
    height: rem(150);
    position: absolute;
    z-index: 2;
    top: rem(98);
    left: rem(-70);
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(369);
    height: rem(371);
    overflow: hidden;
  }

  #promo_icon {
    image {
      &:nth-child(1) {
        transform-origin: center center 0;
        animation: promoAnimateImageFirst 15s ease-in-out infinite;
      }

      &:nth-child(2) {
        transform-origin: center center 0;
        animation: promoAnimateImageSecond 8s ease-in-out infinite;
      }
    }
  }
}

@keyframes promoAnimateSquare {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(5%, -5%) rotate(120deg) scale(.95);
  }
  70% {
    transform: translate(2%, 2%) rotate(0) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

@keyframes promoAnimateImageFirst {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(0, 2%) rotate(20deg) scale(.95);
  }
  70% {
    transform: translate(0, 3%) rotate(0) scale(.95);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

@keyframes promoAnimateImageSecond {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(3%, 3%) rotate(0deg) scale(.95);
  }
  70% {
    transform: translate(3%, 5%) rotate(0) scale(.95);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

.p_i--wrap--text {
  width: 100%;
  max-width: rem(730);
  margin-left: rem(152);

  .p_i--wrap--title {
    display: flex;
    margin-bottom: rem(54);
    align-items: center;

    span {
      color: #1e1f29;
      font-size: rem(38);
      font-weight: 700;
      text-transform: uppercase;
      margin-right: rem(30);
    }

    .p_i--wrap--btn-calc {
      border-radius: rem(27);
      background-color: #f6f8fd;
      padding: rem(10) rem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      i {
        color: #2c37e3;
      }
    }
  }

  .p_i--wrap--info {
    margin-bottom: rem(80);

    p {
      color: #4c4f70;
      font-size: rem(24);
      font-weight: 300;
    }
  }

  .p_i--wrap--description {
    width: 100%;
    max-width: rem(470);

    p {
      color: #aeafc0;
      font-size: rem(20);
      font-weight: 400;
    }
  }
}

.promo_calc {
  width: 100%;
  position: relative;
  padding: rem(182) 0 rem(170);
  background: #f7f8fd;
}

.p_c--wrap {
  width: 100%;
  max-width: rem(1460);
  padding: 0 rem(10);
  margin: 0 auto;
}

.p_c--wrap--title {
  color: #1e1f29;
  font-size: rem(49);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: rem(140);
}

.p_c--wrap-calculator {
  display: flex;
  align-items: flex-start;
}

.p_c--w--c--left {
  width: 50%;
  display: flex;
}

.p_c--c--type {
  width: 100%;
  max-width: rem(320);
  margin-right: rem(86);

  .p_c--c--title {
    display: flex;

    span {
      color: #1e1f29;
      font-size: rem(20);
      font-weight: 500;
      margin-bottom: rem(60);
    }

    .p_c--c--type__info {
      margin-left: rem(11);
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-140%);
        background: #fff;
        color: #1e1f29;
        font-size: rem(14);
        text-align: center;
        border-radius: rem(30);
        width: rem(200);
        display: block;
        padding: rem(10) rem(10);
        opacity: 0;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        visibility: hidden;
      }

      i {
        font-size: rem(20);
        color: #8c8ea7;
        cursor: pointer;

        &:hover {
          ~ span {
            opacity: 1;
            visibility: visible;
          }
        }
      }


    }
  }

  .p_c--c--buttons {
    display: flex;

    .p_c--c--btn {
      width: 100%;
      max-width: rem(148);
      height: rem(81);
      border: rem(2) solid #e6e7f4;
      background-color: #f6f8fd;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: border .4s ease-in-out, background-color .4s ease-in-out, color .4s ease-in-out;
      text-align: center;
      color: #aeb0d1;
      font-size: rem(20);
      font-weight: 400;

      &.active, &:hover {
        border: rem(2) solid #2c37e3;
        background-color: #2c37e3;
        color: #ffffff;
      }

    }
  }
}

.p_c--c--time {
  .p_c--c--title {
    display: flex;

    span {
      color: #1e1f29;
      font-size: rem(20);
      font-weight: 500;
      margin-bottom: rem(60);
    }

    .p_c--c--type__info {
      margin-left: rem(11);
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-140%);
        background: #fff;
        color: #1e1f29;
        font-size: rem(14);
        text-align: center;
        border-radius: rem(30);
        width: rem(200);
        display: block;
        padding: rem(10) rem(10);
        opacity: 0;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        visibility: hidden;
      }

      i {
        font-size: rem(20);
        color: #8c8ea7;
        cursor: pointer;

        &:hover {
          ~ span {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .p_c--c--time--input {
    position: relative;
    display: flex;

    .p_c--c--text {
      margin-left: rem(28);
      display: flex;
      align-items: center;

      span {
        color: #1e1f29;
        font-size: rem(32);
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    .p_c--c--input {
      display: flex;

      .p_c--c--input--minute {
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(92);
        height: rem(81);
        border: rem(2) solid #e6e7f4;

        span {
          color: #1e1f29;
          font-size: rem(25);
          font-weight: 500;
        }
      }
    }

    .p_c--c--input-buttons {
      height: 100%;
      display: flex;
      flex-direction: column;

      .p_c--c--btn--plus, .p_c--c--btn--minus {
        width: rem(53);
        height: 50%;
        background-color: #2c37e3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color .4s ease-in-out;

        &:hover {
          background-color: #ffffff;

          i {
            color: #2c37e3;
          }
        }

        i {
          color: #fff;
          font-size: rem(8);
          transition: color .4s ease-in-out;
          transform-origin: center center 0;
          margin-left: rem(-5);
          margin-top: rem(5);
        }
      }

      .p_c--c--btn--minus {
        i {
          transform: rotate(180deg);
          transform-origin: center center 0;
          margin-left: rem(2);
          margin-top: rem(-5);
        }
      }
    }
  }
}

.p_c--w--c--right {
  padding-left: rem(140);
  margin-top: rem(-15);

  .p_c--right--title {
    display: flex;
    align-items: center;
    margin-bottom: rem(30);

    span {
      color: #1e1f29;
      font-size: rem(20);
      font-weight: 500;
      margin-right: rem(19);
    }

    .p_c--right-info {
      border-radius: rem(23);
      border: rem(1) solid #e6e7f4;
      background-color: #f6f8fd;
      padding: rem(10) rem(20);
      display: flex;
      align-items: center;
      position: relative;

      span {
        color: #8c8ea7;
        font-size: rem(18);
        font-weight: 400;
        margin-right: rem(12);
      }

      .p_c--r--t--info-text {
        position: relative;

        span {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-50%) translateY(-140%);
          background: #fff;
          color: #1e1f29;
          font-size: rem(14);
          text-align: center;
          border-radius: rem(30);
          width: rem(200);
          display: block;
          padding: rem(10) rem(10);
          opacity: 0;
          transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
          visibility: hidden;
        }

        i {
          font-size: rem(20);
          color: #8c8ea7;
          cursor: pointer;

          &:hover {
            ~ span {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .p_c--right--sum {
    display: flex;
    align-items: center;

    .p_c--sum--price {
      color: #1e1f29;
      font-size: rem(76);
      font-weight: 800;
      text-transform: uppercase;
      margin-right: rem(30);
    }

    .p_c--sum--day {
      color: #8c8ea7;
      font-size: rem(64);
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.promo_portfolio {
  background: #fff;
  padding: rem(178) 0 0;
}

.promo_portfolio--wrap {
  width: 100%;
  max-width: rem(1460);
  padding: 0 rem(10);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .promo_portfolio--item {
    width: 50%;
    position: relative;
    overflow: hidden;
    height: rem(383);
    padding: rem(80) rem(60);
    cursor: pointer;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: rgba(#2c37e3, .5);
      content: '';
      transition: width .4s ease-in-out, opacity .4s ease-in-out;
      opacity: 0;
      z-index: 2;
    }

    &:hover {
      &:before {
        opacity: 1;
        width: 100%;
      }

      .promo_portfolio--item--img {
        transform: scale(1.1);
      }
    }

    .promo_portfolio--item--name {
      position: relative;
      z-index: 2;
      color: #ffffff;
      font-size: rem(43);
      font-weight: 800;
      line-height: rem(43.5);
      text-transform: uppercase;
    }

    .promo_portfolio--item--img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      transform: scale(1.02);
      transition: transform .4s ease-in-out;
    }
  }
}