/*Begin Websites page*/
$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}


.shop_page {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(#fff, #f7f8fd);

  .shop_page--bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: rem(1800);
    object-fit: cover;
    z-index: 1;
  }
}

.shop_page--wrap {
  width: 100%;
  max-width: rem(1460);
  margin: 0 auto;
  padding: 0 rem(10);
  position: relative;
  z-index: 2;
}

.s_p--header {
  padding-top: rem(182);
  position: relative;

  .s_p--header--bg {
    position: absolute;
    top: 0;
    left: rem(230);
    width: rem(224);
    height: auto;
  }
}

.s_p--h--menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-bottom: rem(95);

  .s_p--header--arrow {
    position: absolute;
    top: 0;
    left: rem(-168);
    color: #2c37e3;

    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    bottom: rem(-20);
    left: 0;
    content: '';
    width: 100%;
    height: rem(2);
    background-color: #dcdde9;
  }

  a {
    color: #9698ac;
    font-size: rem(17);
    font-weight: 700;
    line-height: rem(75);
    text-transform: uppercase;
    margin-right: rem(65);
    transition: color .4s ease-in-out;
    position: relative;

    &:before {
      position: absolute;
      bottom: rem(-20);
      left: 0;
      width: 0;
      height: rem(2);
      content: '';
      background: #2c37e3;
      transition: width .4s ease-in-out;
    }

    &.active {
      color: #2c3bff;
      cursor: pointer;

      &:before {
        width: 100%;
      }
    }

    &:hover {
      color: #2c3bff;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.s_p--title {
  width: 100%;
  max-width: rem(950);
  color: #1e1f29;
  font-size: rem(80);
  font-weight: 800;
  line-height: rem(105);
  text-transform: uppercase;
  margin-bottom: rem(140);
}

.s_p--wrap {
  position: relative;
  display: flex;
  margin-bottom: rem(140);

  .s_p--wrap--item {
    width: 50%;
    padding: rem(92) rem(113) rem(92) rem(100);
    background-color: #ffffff;

    &.blue {
      background-color: #2c37e3;

      .s_p--w--i--title {
        color: #ffffff;
      }

      .s_p--w--i--list {
        p {
          color: #ffffff;

          &:before {
            font-family: 'fontello';
            color: #fff;
            content: '\e809';
          }
        }
      }
    }


    .s_p--w--i--title {
      color: #1e1f29;
      font-size: rem(35);
      font-weight: 300;
      line-height: rem(27);
      text-transform: uppercase;
      padding-left: rem(57);
      margin-bottom: rem(60);
    }

    .s_p--w--i--list {
      width: 100%;
      max-width: rem(420);

      p {
        position: relative;
        padding-left: rem(57);
        margin-bottom: rem(30);
        color: #1e1f29;
        font-size: rem(18);
        font-weight: 500;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          font-family: 'fontello';
          position: absolute;
          top: rem(4);
          left: rem(5);
          content: '\e80a';
          color: #ee2d4b;
          font-size: rem(12);
        }
      }
    }
  }
}

.function_wrap {
  padding-bottom: rem(100);
}

.function_title {
  color: #1e1f29;
  font-size: rem(44);
  font-weight: 700;
  margin-bottom: rem(65);
}

.function_box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-14);
}

.function_item {
  flex: 1 1 15%;
  margin: 0 rem(14) rem(30);
  box-shadow: 0 rem(32) rem(67) rgba(130, 133, 192, 0.02);
  background-color: #ffffff;
  padding: rem(49) rem(30) rem(41) rem(30);

  &:nth-child(2) {
    .function_item--icon {
      width: rem(53);
    }
  }

  &:nth-child(3) {
    .function_item--icon {
      width: rem(69);
      margin-bottom: rem(60);
    }
  }

  &:nth-child(4) {
    .function_item--icon {
      width: rem(49);
    }
  }

  &:nth-child(5) {
    .function_item--icon {
      width: rem(63);
    }
  }

  .function_item--icon {
    position: relative;
    width: rem(69);
    margin-bottom: rem(44);
  }

  .function_icon--title {
    color: #1e1f29;
    font-size: rem(19);
    font-weight: 500;
    line-height: rem(23.5);
    margin-bottom: rem(20);
    min-height: rem(50);
  }

  p {
    color: #777781;
    font-size: rem(15);
    font-weight: 400;
    line-height: rem(22);
  }
}

.shop_footer {
  position: relative;
  padding: rem(130) 0 rem(107);
  display: flex;
  align-items: center;
  justify-content: center;

  .shop_footer--wrap {
    width: 100%;
    max-width: rem(1460);
    padding: 0 rem(10);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  .s_f--btn {
    width: 100%;
    max-width: rem(402);
    height: rem(132);
    background-color: #2c50ff;
    padding: 0 rem(49);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: box-shadow .4s ease-in-out;

    &:hover {
      &:before {
        width: 100%;
      }

      span, i {
        color: #2c50ff;
      }

      box-shadow: 0 rem(-20) rem(80) rgba(#2c50ff, .2);
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      content: '';
      background: #fff;
      transition: width .4s ease-in-out;
      z-index: 1;
    }

    span {
      color: #ffffff;
      font-size: rem(20);
      font-weight: 500;
      line-height: rem(39);
      text-transform: uppercase;
      transition: color .4s ease-in-out;
      z-index: 2;
    }

    i {
      color: #fff;
      transition: color .4s ease-in-out;
      z-index: 2;
      font-size: rem(26);
    }
  }

  .shop_footer--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}