/*Begin Websites page*/
$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}


.websites_main {
  overflow: hidden;
}

.websites_top {
  position: relative;
  width: 100%;
  padding: rem(180) 0 rem(80);
  overflow: hidden;

  .w_t--circle {
    position: absolute;
    top: 0;
    left: rem(540);
    width: rem(224);
    height: auto;
    z-index: 2;
  }

  .w_t--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }

  .w_t--wrap {
    width: 100%;
    max-width: rem(1640);
    margin: 0 auto;
    padding: 0 rem(10);
    position: relative;
    z-index: 5;
  }
}

.w_t--wrap {
  position: relative;

  a {
    color: #0c10ff;
    font-size: rem(20);
    font-weight: 500;
    position: relative;

    &:hover {
      &:after {
        right: rem(-40);
      }

      span {
        margin-right: rem(50);
      }
    }

    span {
      margin-right: rem(40);
      transition: margin-right .4s ease-in-out;
    }

    i {
      &:before {
        transform: rotate(180deg);
        font-size: rem(16);
      }
    }
  }

  .w_t--menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: rem(75);

    a {
      &:after {
        content: none;
      }
    }

    &:before {
      position: absolute;
      bottom: rem(-20);
      left: 0;
      content: '';
      width: 100%;
      height: rem(2);
      background-color: #dcdde9;
    }
  }


  .w_t--m--item {
    color: #9698ac;
    font-size: rem(17);
    font-weight: 700;
    line-height: rem(75);
    text-transform: uppercase;
    margin-right: rem(65);
    transition: color .4s ease-in-out;
    position: relative;

    &:before {
      position: absolute;
      bottom: rem(-20);
      left: 0;
      width: 0;
      height: rem(2);
      content: '';
      background: #2c37e3;
      transition: width .4s ease-in-out;
    }

    &.active {
      color: #2c3bff;
      cursor: pointer;

      &:before {
        width: 100%;
      }
    }

    &:hover {
      color: #2c3bff;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.websites_m {
  width: 100%;
  background: #f7f8fd;
  padding: rem(157) 0 0;
  position: relative;

  .w_m--icon {
    position: absolute;
    top: 0;
    right: rem(200);
    transform: translateY(-35%);
    width: rem(345);
    height: rem(350);

    svg {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .w_m--wrap {
    width: 100%;
    max-width: rem(1460);
    margin: 0 auto;
    padding: 0 rem(10);
  }

  .title {
    text-align: center;
    color: #1e1f29;
    font-size: rem(49);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: rem(144);
  }
}

.w_m--top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 rem(-87);
}

.w_m--t--item {
  width: 100%;
  max-width: rem(276);
  flex: 1 1 30%;
  margin: 0 rem(87) rem(50);

  &.w_m--adaptive {
    .w_m--t--check {
      label {
        &:after {
          top: rem(24);
          right: rem(4);
          content: '';
          width: rem(20);
          height: rem(20);
          background: #fff;
        }
      }
    }
  }
}

.w_m--t--title {

  margin-bottom: rem(54);
  display: flex;

  span {
    color: #1e1f29;
    font-size: rem(20);
    font-weight: 600;
  }

  .p_c--c--type__info {
    margin-left: rem(11);
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-140%);
      background: #fff;
      color: #1e1f29;
      font-size: rem(14);
      text-align: center;
      border-radius: rem(30);
      width: rem(200);
      display: block;
      padding: rem(10) rem(10);
      opacity: 0;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
      visibility: hidden;
    }

    i {
      font-size: rem(20);
      color: #8c8ea7;
      cursor: pointer;

      &:hover {
        ~ span {
          opacity: 1;
          visibility: visible;
        }
      }
    }


  }
}

.w_m--t--check {
  position: relative;
  width: 100%;
  height: rem(54);
  max-width: rem(276);
  margin-bottom: rem(11);
  overflow: hidden;

  label {
    width: 100%;
    height: rem(54);
    position: relative;
    top: 0;
    left: 0;
    border: rem(2) solid #e6e7f4;
    background-color: #f6f8fd;
    color: #1e1f29;
    font-size: rem(18);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 rem(60) 0 rem(19);
    transition: .4s ease-in-out;
    cursor: pointer;
    &.adaptive_check {
      &:after {
        top: rem(24);
        right: rem(4);
        content: '';
        width: rem(20);
        height: rem(20);
        background: #fff;
      }
    }

    &:after {
      font-family: 'fontello';
      position: absolute;
      top: rem(24);
      right: rem(5);
      transform: translate(-50%, -50%);
      color: #fff;
      content: '\e809';
      text-align: center;
      font-size: rem(14);
      z-index: 2;
      opacity: 0;
      transition: opacity .4s ease-in-out;
    }

    &:before {
      position: absolute;
      top: rem(-4);
      right: rem(-4);
      width: rem(59);
      height: rem(59);
      background-color: #e6e7f4;
      content: '';
      transition: background-color .4s ease-in-out;
      text-align: center;
      font-size: rem(14);
      z-index: 1;
    }
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    border: none;

    &:checked {
      ~ label {
        border: rem(2) solid #2c37e3;
        background-color: #f6f8fd;
        color: #2c37e3;

        &:before {
          background-color: #2c37e3;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.w_m--main {
  position: relative;
  display: flex;
}

.w_m--m--item {
  flex: 1 1 50%;
  width: 50%;
  background: #fff;
  padding: rem(89) rem(74) rem(137) rem(88);
  border-right: rem(1) solid #f7f8fd;

  &:nth-child(2) {
    border-right: none;
  }
}

.w_m--m--title {
  margin-bottom: rem(65);
  position: relative;
  padding-left: rem(46);

  span {
    color: #1e1f29;
    font-size: rem(22);
    font-weight: 500;
    line-height: rem(44);
  }

  .p_c--c--type__info {
    margin-left: rem(11);
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-140%);
      background: #fff;
      color: #1e1f29;
      font-size: rem(14);
      text-align: center;
      border-radius: rem(30);
      width: rem(200);
      display: block;
      padding: rem(10) rem(10);
      opacity: 0;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
      visibility: hidden;
      line-height: initial;
    }

    i {
      font-size: rem(20);
      color: #8c8ea7;
      cursor: pointer;

      &:hover {
        ~ span {
          opacity: 1;
          visibility: visible;
        }
      }
    }


  }

  &.additional {
    &:before {
      content: '\e802';
    }
  }

  &.advertising {
    &:before {
      margin-top: rem(7);
      content: '\e803';
      font-size: rem(22);
    }
  }

  &:before {
    font-family: 'fontello';
    position: absolute;
    top: 0;
    left: 0;
    color: #1e1f29;
    font-size: rem(26);
  }
}

.w_m--m-line {
  display: flex;
  align-items: center;
  margin-bottom: rem(40);

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    .w_m--cost-block {
      .w_m--m-l--cost {
        opacity: 1;
      }

      span {
        opacity: 1;
      }

      .w_m--m-l--number {
        opacity: 1;
      }
    }

    .w_m--m-line--check {
      label {
        background-color: #2c37e3;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .w_m--m-line--check {
    position: relative;
    width: rem(22);
    height: rem(22);
    cursor: pointer;

    label {
      position: absolute;
      top: 0;
      left: 0;
      width: rem(22);
      height: rem(22);
      border-radius: rem(3);
      background-color: #e6e7f4;
      content: '';
      margin: 0;
      transition: background-color .4s ease-in-out;
      cursor: pointer;

      &:after {
        font-family: 'fontello';
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '\e809';
        opacity: 0;
        transition: opacity .4s ease-in-out;
        font-size: rem(10);
      }
    }

    input[type="checkbox"] {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      /*&:checked {
        ~ label {
          background-color: #2c37e3;

          &:after {
            opacity: 1;
          }
        }
      }*/
    }
  }


  .w_m--m-l--name {
    color: #33343d;
    font-size: rem(18);
    font-weight: 400;
    width: 100%;
    max-width: rem(300);
    margin-right: rem(10);
  }

  .w_m--cost-block {
    width: 100%;
    max-width: rem(210);
    margin-right: rem(10);
    display: flex;
    align-items: center;

    span {
      color: #6b6c78;
      font-size: rem(16);
      font-weight: 500;
      opacity: .4;
      transition: opacity .4s ease-in-out;
    }

    .w_m--m-l--cost {
      opacity: 0.38;
      color: #33343d;
      font-size: rem(18);
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
      margin-right: rem(21);
      transition: opacity .4s ease-in-out;
    }

    .w_m--m-l--number {
      width: rem(50);
      height: rem(31);
      border: rem(1) solid #e6e7f4;
      color: #6b6c78;
      font-size: rem(16);
      font-weight: 500;
      margin-right: rem(10);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      -webkit-appearance: none;
      opacity: .4;
      transition: opacity .4s ease-in-out;

      &::placeholder {
        color: #6b6c78;
        font-size: rem(16);
        font-weight: 500;
      }
    }
  }
}

.websites_b {
  position: relative;
  width: 100%;
  padding-top: rem(146);

  .websites_b--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .w_m--wrap {
    width: 100%;
    max-width: rem(1460);
    padding: 0 rem(10);
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
  }
}

.w_b--left {
  width: 100%;
  max-width: rem(850);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: rem(20);
}

.w_b--title {
  color: #ffffff;
  font-size: rem(30);
  font-weight: 500;
  position: relative;
  padding-left: rem(46);
  margin-bottom: rem(44);

  &:before {
    font-family: 'fontello';
    position: absolute;
    top: 0;
    left: 0;
    content: '\e80f';
    color: #fff;
  }
}

.w_b--list {
  width: 100%;
  max-width: rem(600);
}

.w_b--list--main {
  margin-bottom: rem(60);
  width: 100%;
}

.w_b--list--line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: rem(20);
}

.w_b--list--main--type {
  font-size: rem(20);
  color: #9499e6;
  font-weight: 300;
  width: 100%;
  max-width: rem(440);
  margin-right: rem(10);

  span {
    color: #d5d8ff;
    font-weight: 500;
    margin-left: rem(5);
  }
}

.w_b--list--main--cost {
  color: #ffffff;
  font-size: rem(18);
  font-weight: 500;
  text-transform: uppercase;
}


.w_b--right {
  width: 50%;
}

.w_b--top {
  display: flex;
  align-items: center;
  margin-bottom: rem(40);

  p {
    color: #ffffff;
    font-size: rem(20);
    font-weight: 500;
    margin-right: rem(19);
  }

  .w_b--top--include {
    height: rem(46);
    border-radius: rem(23);
    border: rem(1) solid #4550f2;
    display: flex;
    align-items: center;
    padding: rem(14) rem(20);

    .w_b--top--include--btn {
      color: #9a9ff4;
      font-size: rem(18);
      font-weight: 400;
      margin-right: rem(10);
    }

    .icon_why {
      position: relative;

      i {
        width: rem(17);
        height: rem(17);
        cursor: pointer;
        color: #a9adda;

        &:hover {
          ~ span {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-140%);
        background: #fff;
        color: #1e1f29;
        font-size: rem(14);
        text-align: center;
        border-radius: rem(30);
        width: rem(200);
        display: block;
        padding: rem(10) rem(10);
        opacity: 0;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        visibility: hidden;
      }
    }
  }
}

.w_b--top--result {
  display: flex;
  align-items: center;
  margin-bottom: rem(60);

  .w_b--top--result--cost {
    color: #ffffff;
    font-size: rem(60);
    font-weight: 700;
    text-transform: uppercase;
    margin-right: rem(50);
  }

  .w_b--top--result--day {
    color: #7d84f5;
    font-size: rem(45);
    font-weight: 300;
    text-transform: uppercase;
  }
}

.btn_order {
  width: 100%;
  max-width: rem(600);
  display: flex;
  align-items: center;
  height: rem(192);
  background-color: #ffffff;
  position: relative;
  padding-left: rem(68);
  cursor: pointer;

  &:hover {
    i {
      right: rem(150);
    }

    &:after {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background: #f2f3fe;
    content: '';
    z-index: 1;
    transition: width .4s ease-in-out, background .4s ease-in-out;
  }

  span {
    color: #33343d;
    font-size: rem(32);
    font-weight: 400;
    z-index: 3;
    position: relative;
    transition: color .4s ease-in-out;
  }

  i {
    position: absolute;
    top: 50%;
    right: rem(94);
    transform: translateY(-50%);
    z-index: 2;
    transition: right .4s ease-in-out, color .4s ease-in-out;
  }
}

#w_m--icon {
  #Vector_Smart_Object_copy_3 {
    animation: animateIconMain 3s ease-in-out infinite;
  }

  #Vector_Smart_Object {
    animation: animateIcon 5s ease-in-out infinite;
  }
}

@keyframes animateIcon {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes animateIconMain {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.98);
  }
  100% {
    transform: scale(1);
  }
}

.popup_confirm {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#f7f8fd, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 55;
  opacity: 0;
  visibility: hidden;
  top: -200vh;
  transition: top 0s ease-in-out .4s, opacity .4s ease-in-out, visibility .4s ease-in-out;

  &.active {
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: top 0s ease-in-out, opacity .4s ease-in-out, visibility .4s ease-in-out;
  }

  &.success {
    .main_popup {
      .popup_info, .popup_bottom {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }

    }
    .success_popup {

      .c_p--success {
        opacity: 1;
        visibility: visible;
        position: relative;
      }
    }
  }

  .success_popup {
    .c_p--success {
      padding: rem(40) rem(70);
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

      .c_p--success--icon {
        position: relative;
        width: rem(117);
        margin-bottom: rem(80);

        svg {
          position: relative;
          z-index: 3;
        }

        .circle {
          position: absolute;
          top: -15%;
          left: -10%;
          width: rem(150);
          height: rem(150);
          border-radius: 50%;
          z-index: 2;


          &:before, &:after {
            position: absolute;
            top: -10%;
            left: -10%;
            width: 120%;
            height: 120%;
            border-radius: 50%;
            border: rem(2) solid #2c37e3;
            content: '';
            animation: animate 1.5s ease-in-out infinite;
            opacity: 0;
          }

          &:after {
            animation-delay: .5s;
          }

          @keyframes animate {
            0% {
              transform: scale(.8);
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              transform: scale(1.2);
              opacity: 0;
            }
          }
        }
      }

      .c_p--success--title {
        color: #1e1f29;
        font-size: rem(48);
        font-weight: 500;
      }

      .c_p--success--description {
        color: #1e1f29;
        font-size: rem(38);
        font-weight: 300;
      }
    }
  }

  .popup_wrap {
    width: 100%;
    max-width: rem(568);
    box-shadow: 0 rem(30) rem(101) rgba(145, 152, 179, 0.15);
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .popup_bottom {
      padding: rem(40) rem(70);
      background-color: #f8f8fb;

      .popup_bottom--title {
        color: #0c10ff;
        font-size: rem(24);
        font-weight: 700;
        line-height: rem(32);
        margin-bottom: rem(40);
      }
    }

    .website_form {
      width: 100%;

      .popup--input {
        position: relative;
        width: 100%;
        height: rem(60);
        margin-bottom: rem(20);

        &:before {
          position: absolute;
          left: 0;
          bottom: 0;
          content: '';
          width: 0;
          height: rem(1);
          background: #2c37e3;
          transition: width .4s ease-in-out;
          z-index: 3;
        }


        &.active {
          &:before {
            width: 100%;
          }

          span {
            top: rem(-10);
            font-size: rem(15);
          }
        }

        &.click {
          &:before {
            width: 100%;
          }

          span {
            top: rem(-10);
            font-size: rem(15);
          }
        }

        &:nth-child(2) {
          margin-bottom: rem(20);
        }

        span {
          position: absolute;
          top: rem(20);
          left: 0;
          color: #5a5c6c;
          font-size: rem(18);
          font-weight: 300;
          transition: top .4s ease-in-out, font-size .4s ease-in-out;
          z-index: 1;
        }

        input {
          width: 100%;
          border: none;
          background: transparent;
          border-bottom: rem(1) solid #e0e0e6;
          height: rem(60);
          position: relative;
          left: 0;
          color: #2c37e3;
          font-size: rem(25);
          font-weight: 800;
          z-index: 2;


          &:focus {
            ~ span {
              top: rem(-10);
              font-size: rem(15);
            }
          }
        }
      }


      button {
        width: 100%;
        max-width: rem(285);
        display: flex;
        align-items: center;
        background: none;
        border: none;
        font-family: 'Din';
        cursor: pointer;
        height: rem(60);

        span {
          color: #1e1f29;
          font-size: rem(20);
          font-weight: 700;
          text-transform: uppercase;
          margin-right: rem(38);
        }

        i {
          color: #1e1f29;
        }
      }
    }

    .popup_info {
      padding-left: rem(74);
      padding-right: rem(74);
      padding-bottom: rem(20);

      .popup_site--type {
        color: #1e1f29;
        font-size: rem(33);
        font-weight: 300;
        margin-bottom: rem(10);
      }

      .popup_site--sum {
        display: flex;
        align-items: center;

        .popup_site--sum--cost {
          color: #1e1f29;
          font-size: rem(50);
          font-weight: 800;
          text-transform: uppercase;
          margin-right: rem(36);
        }

        .popup_site--sum--day {
          color: #b1b2c0;
          font-size: rem(35);
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }

    .popup_top {
      display: flex;
      align-items: center;
      padding-left: rem(74);
      margin-bottom: rem(20);


      .popup_icon {
        position: relative;
        width: rem(125);
        height: rem(125);
        margin-right: rem(36);

        svg {

        }
      }

      .popup_title {
        width: 100%;
        max-width: rem(230);
        color: #2c37e3;
        font-size: rem(30);
        font-weight: 300;
        text-transform: uppercase;
      }

      .popup_cls {
        position: relative;
        width: rem(125);
        height: rem(125);
        transition: background-color .4s ease-in-out;
        cursor: pointer;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 18%;
          height: rem(1);
          background-color: #1e1f29;
          transform: translate(-50%, -50%) rotate(45deg);
          transition: background-color .4s ease-in-out;

          &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        &:hover {
          background-color: #2c37e3;

          i {
            background-color: #fff;
          }
        }
      }
    }
  }
}

.w_b--additional {
  span {
    display: block;
    margin-left: 0;
  }
}

/*End Websites page*/